<% unless @conversation.blank? %>
  <div style="border-bottom: 1px solid #c4c4c4; padding:10px 29px 10px 20px; overflow:hidden;">
    <div class="">
      <% if current_user.buyers? %>
        <h4>
          <%= online_status @conversation.sellers %>
          <%= link_to @conversation.sellers.full_name,profile_path(@conversation.sellers) %>
          <span>
          <span class="chat_date">
          <% if @conversation.seller_starred? %>
            <%= link_to "",starred_me_path(@conversation,@conversation.sellers.id),class: "fa fa-star",remote: true %> 
          <% else %>
            <%= link_to "",starred_me_path(@conversation,@conversation.sellers.id),class: "fa fa-star-o",remote: true %> 
          <% end %>
          </span>
        </h4>
        <span class="chat_date">
          <% if @conversation.sellers.user_online? %>
            Online
          <% else %>
            Offline
          <% end %>
          &nbsp;|&nbsp;
          Last Seen <%=  time_ago_in_words(local_time(@conversation.sellers.last_sign_in_at)) %> ago
          &nbsp;|&nbsp;
          Local Time <%= local_time(@conversation.sellers.last_sign_in_at) %> 
        </span>
      <% else %>
        <h4>
          <%= online_status @conversation.buyers %>
          <%= link_to @conversation.buyers.full_name,profile_path(@conversation.buyers) %>
          <span class="chat_date">
            <% if @conversation.buyer_starred? %>
              <%= link_to "",starred_me_path(@conversation,@conversation.buyers.id),class: "fa fa-star",remote: true %> 
            <% else %>
              <%= link_to "",starred_me_path(@conversation,@conversation.buyers.id),class: "fa fa-star-o",remote: true %> 
            <% end %>
          </span>
        </h4>
        <span class="chat_date">
          <% if @conversation.buyers.user_online? %>
            Online
          <% else %>
            Offline
          <% end %>
          &nbsp;|&nbsp;
          Last Seen <%= time_ago_in_words(local_time(@conversation.buyers.last_sign_in_at)) %> ago
          &nbsp;|&nbsp;
          Local Time <%= local_time(@conversation.buyers.last_sign_in_at) %>
        </span>
      <% end %>
    </div>
  </div>
<% else %>
  <div style="border-bottom: 1px solid #c4c4c4; padding:10px 29px 10px 20px; overflow:hidden;">
    <div class="text-center">
      Select a conversation to read it here.
    </div>
  </div>
<% end %>