<div class="py-3">
  <div class="p-3 border border-light">
    <span>Reviews</span>
    <%# binding.pry %>
    <span class="ml-2 yellow"><%= image_tag 'star-on.png' %> <%= @service.buyer_review_star %></span>
    <span class="ml-2">(<%= pluralize(@service.buyer_review_count, "reivew") %>)</span>
    <div class="underline"></div>
    <% @packages.each do |package| %>
      <%# binding.pry %>

      <% package.buyer_reviews.each do |buyer_review| %>
      <% if buyer_review.star.present? %>
          <div class="">
            <div class="mr-2 buyer_img pr-3">
              <%= image_tag buyer_review.buyer.check_avatar, class: 'img-fluid rounded-circle', height: 50, width: 50; %>
              <span class="px-3"><%= buyer_review.buyer.full_name %>
                <span class="ml-2 yellow">
                  <%= image_tag 'star-on.png' %> 
                  <%= buyer_review.star %>
                </span>
              </span>
            </div>
            <div class="ml-4 align-self-center pl-5 buyer_msg">
                <div><%= buyer_review.comment %></div><br>
                <div class="float-right text-muted"><%= time_ago_in_words(buyer_review.created_at) %></div>
            </div>
          </div>
          <div class="underline py-2"></div>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>