<%= render partial: 'services/category_details',locals: {services: @services} %>
<div class="container-fluid px-5">
  <div class="row" id="category-services">
    <%= render partial: 'services/sorting',locals: {services: @services} %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3">
      <div class="pt-2">
        <%= render 'services/search-sidebar' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="row" id="services-row">
        <%= render partial: 'shared/services-row', locals: {services: @services} %>
      </div>
    </div>
  </div>
</div>
<div class="pagination text-success justify-content-center mt-5">
  <% unless @services.blank? %>
    <%= paginate @services %>
    <style type="text/css">
      .page-link {
        color: purple;
        background-color: #fff;
        border: 1px solid purple;
      }
      .page-link:hover {
        color: purple;
        background-color: #e9ecef;
        border-color: purple;
      }
      .page-item.active .page-link {
        color: #fff;
        background-color: purple;
        border-color: purple;
      }
    </style>
  <% end %>
</div>