<div class="container font-weight-bold">  
  <%= simple_form_for @service do |f|  %>
    <%= f.input :description,label: 'Gig Description', required: true, hint: 'Minimum 50 words required', placeholder: 'Give some impressive description for your valuable service', input_html: {rows: "3"}  %>
    <%= render partial: 'services/faqs/form', locals: {f: f} %>
    <div class="form-group row mb-0">
      <div class="col-sm-9 offset-sm-3">
        <%= f.input :wizard,as: :hidden, :input_html => { :value => "requirement" } %>
        <%= f.submit "Save & Continue", class: "btn btn-outline-success pull-right" %>
      </div>
    </div>
  <% end %>
</div>
<style type="text/css">
	.offset-sm-3{
		margin-left: 35%;
		margin-top: 3%;
	}
</style>