<div class="container">
  <h5>Build Your Gig Gallery</h5>
  <p>Add memorable content to your gallery to set yourself apart from competitors.</p>
  <hr>
  <h6>Gig Photos</h6>
  <%= render partial: 'services/services_photos' %>
  <hr>
</div>
<div class="container font-weight-bold">
  <h6>Gig Video</h6>
  <p>Add a relevant, high quality video that best showcases your Gig.<span class="pull-right">(0/1)</span></p>
  <p>Please choose a video shorter than 75 seconds and smaller than 50MB</p>
  <% unless @service.video.blank? %>
    <div id="my-video">
      <video height="300" controls>
        <source src="<%= @service.video.video_url %>">
      </video>
      <div><%= link_to "Remove Video",video_path(@service.video), method: 'delete' %></div>
    </div>
  <% else %>
    <%= simple_form_for @service,url: video_upload_path(@service),method: 'post',html: {class: "dropzone",id: "myDropzoneVideo" } do |f|  %>
    <% end %>
  <% end %>
  <div>
    <span class="inline-block float-right">
      <% if @service.publish? %>
        <%= link_to "Save", services_gallery_publish_path(@service), class: 'btn btn-outline-success' %>
      <% else %>  
        <%= link_to "Save & Continue", services_gallery_publish_path(@service), class: 'btn btn-outline-success' %>
      <% end %>
    </span> 
  </div>
</div>
<script type="text/javascript">  
  Dropzone.options.myDropzoneVideo = {
    acceptedFiles: 'video/*',
    maxFilesize: 50,
    maxFiles: 1,
    uploadMultiple: false,
    addRemoveLinks: true,
    init: function(){
      thisDropzone = this;
      this.on("success",function(file,response){
        location.reload();
        file.previewElement.remove();    
      });    
    }   
  };
  $("#myDropzoneVideo").dropzone();
</script>
<style type="text/css">
.dz-image { border: 1px solid #000 }
.dz-default {
  border: 2px dashed #0087F7;
  /*min-height: 360px;*/
  /*height:70px;*/
  width:30%;
  height: 200px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  /*background: blue;*/
  background: white;
  padding: 0px;
  margin:0px;
}
.dz-default{
  text-align: center;
  padding-top: 6%
}
div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover a {
    display: block;
}
div.show-image a {
    position:absolute;
    display:none;
}
div.show-image a.delete {
    top:0;
    left:79%;
}

.show-image img{
  width: 350px;
  height: 234px;
}
</style>