<div class="container font-weight-bold">  
  <%= simple_form_for @service do |f|  %> 
    <%= f.error_notification %>   
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12"> 
        <%= f.input :title,label: 'Gig Tile', required: true, hint: 'Minimum 50 words required', placeholder: "do something I'm really good at", input_html: {rows: "3"},as: :text  %>
      </div>
      <div style="position: absolute; padding-left: 20px; padding-top: 40px;"><h5>I can</h5></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <%= f.input :category_id, label: 'Category', collection: Category.get_categories, prompt: 'Select Category', :input_html => {:onchange => "get_sub_category(this)"},required: true %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :sub_category, label: 'Sub Category',collection: [],prompt: 'Select Sub Category',include_blank: true, :input_html => {:id => "sub1"},required: true %>
      </div>
    </div>    
    <div class ="form-group row mb-0">
      <div class="col-sm-9 offset-sm-3">
        <%= f.submit "Save & Continue", class: "btn btn-outline-success pull-right" %>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  var html = "";
  function get_sub_category(category){
    $.ajax({
      url:  "/categories/search/",
      type: "get",
      data: {id: category.value},
      success: function(response){
        $('#sub1').html("")
        if(response.data == 0){
          $('#sub1').append("<option>Select Sub Category</option>");
        }else{
          html = "<option>Select Sub Category</option>";
          var sub_data = new Array();    
          for(var i in response.data){
            html  = '<option value='+response.data[i].id+'>';
            html +=  response.data[i].title;
            html += '</option>';
            sub_data.push(html)
          }
          $('#sub1').append(sub_data);
        }
      },
    })
  }
</script>
<style type="text/css">
  #service_title{
    padding-left: 55px;
    padding-top: -0.5%;
    font-size: 1.25rem;
  }
</style>