<div class="container">
  <div class="mb-3 pull-right">
    <label class="checkbox-inline">
      <input type="checkbox" data-toggle="toggle" id="my-toggle" data-onstyle="warning" data-offstyle="info" data-on="+" data-off="-">  3 Packages
    </label>
  </div>
  <%= simple_form_for @service do |f|  %>
    <div id="packages">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Basic</th>
            <th scope="col">Standard</th>
            <th scope="col">Permium</th>
          </tr>
        </thead>
        <tbody>
          <td>
            <%= render partial: 'services/forms/basic_package_form',locals: {f: f} %>
          </td>
          <td>
            <%= render partial: 'services/forms/standard_package_form',locals: {f: f} %>
          </td>
          <td>
            <%= render partial: 'services/forms/premimum_packge_form',locals: {f: f} %>
          </td>
        </tbody>
      </table>
      <%= render partial: 'services/forms/extra_fast_delivery',locals: {f: f} %>
      <div class="form-group row mb-0">
        <div class="col-sm-9 offset-sm-3">
          <%= f.input :wizard,as: :hidden, :input_html => { :value => "description" } %>
          <%= f.submit "Save & Continue", class: "btn btn-outline-success pull-right" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $('#my-toggle').bootstrapToggle('off')
    $('#my-toggle').change(function() {
      if($('#my-toggle').is(":checked")){
        enabled_fields()
      }else{
        disabled_fields()
      }
    })
  })

  $('#collapseOne').on('shown.bs.collapse', function () {
    $('#service_extra_basic_package_attributes_delivery_time').attr('required',true)
    $('#service_extra_standard_package_attributes_delivery_time').attr('required',true)
    $('#service_extra_premimum_package_attributes_delivery_time').attr('required',true)
    $('#service_extra_basic_package_attributes_price').attr('required',true)
    $('#service_extra_standard_package_attributes_price').attr('required',true)
    $('#service_extra_premimum_package_attributes_price').attr('required',true)
  });

  $('#collapseOne').on('hidden.bs.collapse', function () {
    $('#service_extra_basic_package_attributes_delivery_time').attr('required',false)
    $('#service_extra_standard_package_attributes_delivery_time').attr('required',false)
    $('#service_extra_premimum_package_attributes_delivery_time').attr('required',false)
    $('#service_extra_basic_package_attributes_price').attr('required',false)
    $('#service_extra_standard_package_attributes_price').attr('required',false)
    $('#service_extra_premimum_package_attributes_price').attr('required',false)
  });
  
  function enabled_fields(){
    $("#service_standard_package_attributes_name").attr('disabled',true)
    $("#service_premimum_package_attributes_name").attr('disabled',true)
    $("#service_standard_package_attributes_description").attr('disabled',true)
    $("#service_premimum_package_attributes_description").attr('disabled',true)
    $("#service_standard_package_attributes_delivery_time").attr('disabled',true)
    $("#service_premimum_package_attributes_delivery_time").attr('disabled',true)
    $("#service_standard_package_attributes_price").attr('disabled',true)
    $("#service_premimum_package_attributes_price").attr('disabled',true)
    $("#service_standard_package_attributes_name").attr('required',true)
    $("#service_premimum_package_attributes_name").attr('required',true)
    $("#service_standard_package_attributes_description").attr('required',true)
    $("#service_premimum_package_attributes_description").attr('required',true)
    $("#service_standard_package_attributes_delivery_time").attr('required',true)
    $("#service_premimum_package_attributes_delivery_time").attr('required',true)
    $("#service_standard_package_attributes_price").attr('required',true)
    $("#service_premimum_package_attributes_price").attr('required',true)
  }

  function disabled_fields(){
    $("#service_standard_package_attributes_name").attr('disabled',false)
    $("#service_premimum_package_attributes_name").attr('disabled',false)
    $("#service_standard_package_attributes_description").attr('disabled',false)
    $("#service_premimum_package_attributes_description").attr('disabled',false)
    $("#service_standard_package_attributes_delivery_time").attr('disabled',false)
    $("#service_premimum_package_attributes_delivery_time").attr('disabled',false)
    $("#service_standard_package_attributes_price").attr('disabled',false)
    $("#service_premimum_package_attributes_price").attr('disabled',false)
    $("#service_standard_package_attributes_name").attr('required',false)
    $("#service_premimum_package_attributes_name").attr('required',false)
    $("#service_standard_package_attributes_description").attr('required',false)
    $("#service_premimum_package_attributes_description").attr('required',false)
    $("#service_standard_package_attributes_delivery_time").attr('required',false)
    $("#service_premimum_package_attributes_delivery_time").attr('required',false)
    $("#service_standard_package_attributes_price").attr('required',false)
    $("#service_premimum_package_attributes_price").attr('required',false)
  }
</script>