<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="SortBlufLink">
        <%= link_to root_path do %>
          Fiverr<i class="fa fa-chevron-right SortBlufLinkIcon"></i>
        <% end %>
        <%= link_to root_path do %>
          <%= @service.category.title %><i class="fa fa-greater-than SortBlufLinkIcon"></i>
        <% end %>
      </div>
    <div class="h3">I can <%= @service.title.truncate(55) %></div>
    <div class="profile-img py-2" style="background: url(<%= @service.seller.check_avatar %>) no-repeat center; background-size: cover;"></div><span><%= link_to @service.seller.full_name,profile_path(@service.seller) %></span>
    </div>
  </div>
  <div class="row">
    <!-- Service Photo Slider -->
    <div class="col-lg-7 col-md-12">
      <div class="border border-light"> 
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <% @service.photos.each do |photo| %>
                <div class="owl-item" ><%= image_tag photo.image_url(:thumb) %></div>
              <% end %>
              <% unless @service.video.blank? %>
                <div class="owl-item" >
                  <video width="100%" height="10%" controls>
                    <source src="<%= @service.video.video_url %>">
                  </video>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="nav-options">
          <%= image_tag 'next.png', class: 'am-next' %>
          <%= image_tag 'back.png', class: 'am-prev' %>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <%= render partial: 'services/packages/service_description' %>
      </div>
      <!-- Package Comparison Table -->
      <% unless @service.faqs.blank? %>
        <%= render partial: 'services/faq_detail' %>
      <% end %>
      <%= render partial: 'services/review' %>
    </div>
    <div class="col-lg-5 col-md-12">
      <%= render partial: 'services/package_show' %>
      <div class="divider"></div>
      <%= render partial: 'shared/seller-profile' %>
    </div>
  </div>
 </div>
<script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    navText: [$('.am-next'),$('.am-prev')],
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:true
        },
        1000:{
            items:1,
            nav:true,
            loop:false
        }
    }
  });
</script>
<style type="text/css">
  
 .am-next ,.am-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .am-prev{
    left: -1rem;
    height: 50px;
    width: 50px;
  }

  .am-next{
    right: -1rem;
    height: 50px;
    width: 50px;
  }
</style>