<div class="tab-pane" id="draft_gigs">
<div class="panel-body">
    <div class="table-responsive">
      <table class="table responsive table-hover table-condensed mb25" data-sortable data-sortable-initialized="true">
        <thead>
          <tr>
            <th>Image</th>
            <th>Gig</th>
            <th>Created At</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @draft_gigs.each do |gig| %>
            <tr>
              <td class="align-middle" width="30%">
                <% if gig.photos.blank? %>
                  <%= image_tag('missing.png') %>
                <% else %>
                  <img src="<%= gig.photos.first.image_url %>" style="width: 10%">
                <% end %>
              </td>
              <td class="align-middle">
                <%= gig.title %>
              </td>
              <td class="align-middle">
                <%= gig.created_at.strftime("%d %B %Y") %>
              </td>
              <td class="align-middle">
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Actions
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="nav-item"><%= link_to "Edit", edit_service_path(gig),class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to "View", service_path(gig),class: "nav-link" %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>