<div class="tab-pane" id="pending_gigs">
<div class="panel-body">
    <div class="table-responsive">
      <table class="table responsive table-hover table-condensed mb25" data-sortable data-sortable-initialized="true">
        <thead>
          <tr>
            <th>GIG</th>
            <th>Create DATE</th>
            <th>Orders</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @active_gigs.each do |gig| %>
            <tr>
              <td class="align-middle">
                <%= gig.title %>
              </td>
              <td class="align-middle">
                <%= gig.created_at.strftime("%d %B %Y") %>
              </td>
              <td class="align-middle"><%= gig.packages.joins(:order_items).where('order_items.status=?',OrderItem.statuses['inactive']).count %></td>
              <td class="align-middle">
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Actions
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="nav-item"><%= link_to "Edit", edit_service_path(gig),class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to "View", service_path(gig),class: "nav-link" %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>