<div class="container">
  <div class="devise-container">
	<h2>Sign Up</h2>
	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= render 'layouts/messages' %>
    <div class="form-group">
      <%= f.input :user_name, required: true, placeholder: "User Name", class: "form-control" %>
    </div>
	  <div class="form-group">
	    <%= f.input :email, required: true, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
	  </div>
	  <div class="form-group">
	    <%= f.input :password, required: true, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
	  </div>
	  <div class="form-group">
	    <%= f.input :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control" %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Sign Up", class: "btn btn-info btn-block" %>
	  </div>
	<% end %>
  <%= render "devise/shared/links" %>
  <div class="devise-container">
</div>