<%= simple_form_for @dispute,url: order_cancel_path(@dispute.id), method: 'put' do |f| %>
  <%= f.input :status, as: :hidden,:input_html => { :value => "rejected" } %>
  <% if current_user.sellers? %>
  	<%= f.input :role, as: :hidden,:input_html => { :value => "seller" } %>
  <% else %>
  	<%= f.input :role, as: :hidden,:input_html => { :value => "buyer" } %>
  <% end %>
  <label class="Checkbox-form" style="margin: 2% ">
    <%= f.submit "Reject", class: "btn btn-info pull-right" %>
  </label>
<% end %>