<div class="headind_srch">
  <% unless @conversations.blank? %>
    <div class="recent_heading">
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Conversations
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "ALL MESSSAGES",conversations_all_message_path,class: "dropdown-item" ,method: 'get', remote: true %></li>
          <li><%= link_to "UNREAD",conversations_unread_path,class: "dropdown-item",method: 'get', remote: true  %></li>
          <li><%= link_to "STARRED",conversations_starred_path,class: "dropdown-item",method: 'get', remote: true %></li>
          <li><%= link_to "CUSTOM OFFERS",conversations_customer_offer_path,class: "dropdown-item",method: 'get', remote: true %></li>
        </ul>
      </div> 
    </div>
  <% end %>
  <div class="srch_bar">
    <div class="stylish-input-group">
      <%#= form_tag( conversations_path, method: :get, remote: true) do %>
        <%= text_field_tag :name,params[:name] , placeholder: "Search here"%>
        <span class="input-group-addon">
          <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      <%# end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#name").keyup(function(){
    var name = $('#name').val();
    if(name == "" || name == null){
      name = "null"
    }else{
      name = name
    }
    <% unless @conversation.blank? %>
      var conversation = '<%= @conversation.id %>';
    <% else %>
      var conversation = 0;
    <% end %>
    
    $.ajax({
      url:  "/search/" + name,
      type: "get",
      data: {conversation_id: conversation},
      dataType: 'script',
      success: function(response){
        // document.getElementById("new_review").reset();
      },
    })
  });
</script>
