<% if current_user.buyers? %>
  <% @conversations.each do |conversation| %>
    <%#= link_to conversation_path(conversation),method: "get" do %> 
      <% if !@conversation.blank? && conversation.id == @conversation.id %>
        <div class="chat_list active_chat" onclick="window.location='<%= conversation_path(conversation)%>'"
        style="cursor: pointer; border-color:purple;"
        tabindex="1">
      <% else %>
        <div class="chat_list active_chat" onclick="window.location='<%= conversation_path(conversation)%>'"
        style="cursor: pointer;"
        tabindex="1">
      <% end %>
        <div class="chat_people">
          <div class="chat_img">
            <%= image_tag(conversation.sellers.check_avatar, alt: conversation.sellers.first_name[0],class: "profile-img") %>
            <%= online_status_top conversation.sellers %>
          </div>
          <div class="chat_ib">
            <h5>
              <strong class="mr-2"><%= conversation.sellers.full_name %></strong>
              <i class="<%= chat_icon_klass_buyers(conversation)%>" aria-hidden="true"></i>
              <!-- <span class="chat_date" id="<%#= conversation.sellers.id %>">
                <%#+-f conversation.seller_starred? %>
                  <span class="fa fa-star"></span>
                <%# else %>
                  <span class="fa fa-star-o"></span>
                <%# end %>
              </span> -->
              <span class="chat_date">&nbsp;&nbsp;</span>
              <span class="chat_date"><%= time_ago_in_words(conversation.sellers.last_sign_in_at) %> ago</span>
            </h5>
            <p>
              <% if conversation.chat_last_message(current_user.id).blank? %>
                <% unless conversation.sellers.seller_level(conversation.sellers).blank? %>
                  <%= conversation.sellers.seller_level(conversation.sellers) %> | 
                  From <%= conversation.sellers.country_name(conversation.sellers.country) %>
                <% else %>
                  From <%= conversation.sellers.country_name(conversation.sellers.country) %>
                <% end %>
              <% else %>
                <% msg = conversation.chat_last_message(current_user.id).last %>
                <% if msg.message.include?('<<image>>') && msg.custom_offer == 0 %>
                  attachment
                <% elsif msg.custom_offer == 1 %>
                  custom offer
                <% else %>
                  <%= msg.message %>
                <% end %>
              <% end %>  
            </p>
          </div>
        </div>
      </div>
    <% #end %>
  <% end %>
<% elsif current_user.sellers? %>
  <% @conversations.each do |conversation| %>
    <%#= link_to conversation_path(conversation),method: "get" do %>
      <% if !@conversation.blank? && conversation.id == @conversation.id %>
        <div class="chat_list active_chat" onclick="window.location='<%= conversation_path(conversation)%>'"
        style="cursor: pointer; border-color:purple;"
        tabindex="1">
      <% else %>
        <div class="chat_list active_chat" onclick="window.location='<%= conversation_path(conversation)%>'"
        style="cursor: pointer;"
        tabindex="1">
      <% end %>
        <div class="chat_people">
          <div class="chat_img"> 
            <%= image_tag(conversation.buyers.check_avatar, alt: conversation.buyers.user_name, class: "profile-img") %>
            <%= online_status_top conversation.buyers %>
          </div>
          <div class="chat_ib">
            <h5>
              <strong class="mr-2"><%= conversation.buyers.full_name %></strong>
              <%# byebug %>
              <i class="<%= chat_icon_klass_sellers(conversation)%>" aria-hidden="true"></i>
              <span class="chat_date">&nbsp;&nbsp;</span>
              <span class="chat_date"><%= time_ago_in_words(conversation.buyers.last_sign_in_at) %> ago</span>
            </h5>
            <p>
              <% if conversation.chat_last_message(current_user.id).blank? %>
                From <%= conversation.buyers.country_name(conversation.sellers.country) %>
              <% else %>
                <% msg = conversation.chat_last_message(current_user.id).last %>
                <% if msg.message.include?('<<image>>') && msg.custom_offer == 0 %>
                  attachment
                <% elsif msg.custom_offer == 1 %>
                  custom offer
                <% else %>
                  <%= msg.message %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% #end %>
  <% end %>
<% end %>
