<% if current_user.buyers? %>
  <% @conversations.each do |conversation| %>
    <%#= link_to conversation_path(conversation),method: "get" do %> 
      <div class="chat_list active_chat" onclick="window.location='<%= conversation_path(conversation)%>'"
      style="cursor: pointer;"
      tabindex="1">
        <div class="chat_people">
          <div class="chat_img">
            <%= image_tag(conversation.sellers.check_avatar.present? ? conversation.sellers.check_avatar : 'avatar-placeholder-extra-small.png', alt: conversation.sellers.full_name,class: "profile-img") %>
            <%= online_status_top conversation.sellers %>
          </div>
          <div class="chat_ib">
            <h5>
              <%= conversation.sellers.full_name %>
              <span class="chat_date">
                <% if conversation.starred? %>
                  <span class="fa fa-star"></span>
                <% else %>
                  <span class="fa fa-star-o"></span>
                <% end %>
              </span>
              <!-- <span class="chat_date">&nbsp;|&nbsp;</span>
              <span class="chat_date"><%#= time_ago_in_words(conversation.sellers.last_sign_in_at) %> ago</span> -->
            </h5>
            <p><%= conversation.sellers.seller_level(conversation.sellers) %> | From <%= conversation.sellers.country %></p>
          </div>
        </div>
      </div>
    <% #end %>
  <% end %>
<% elsif current_user.sellers? %>
  <% @conversations.each do |conversation| %>
    <%#= link_to conversation_path(conversation),method: "get" do %>
      <div class="chat_list active_chat" onclick="window.location='<%= conversation_path(conversation)%>'"
      style="cursor: pointer;"
      tabindex="1">
        <div class="chat_people">
          <div class="chat_img"> 
            <%= image_tag(conversation.buyers.check_avatar.present? ? conversation.buyers.check_avatar : 'avatar-placeholder-extra-small.png', alt: conversation.buyers.full_name,class: "profile-img") %>
            <%= online_status_top conversation.buyers %>
          </div>
          <div class="chat_ib">
            <h5><%= conversation.buyers.full_name %>
              <span class="chat_date">
                <% if conversation.starred? %>
                  <span class="fa fa-star"></span> 
                <% else %>
                  <span class="fa fa-star-o"></span> 
                <% end %>
              </span>
              <!-- <span class="chat_date">&nbsp;|&nbsp;</span>
              <span class="chat_date"><%#= time_ago_in_words(conversation.buyers.last_sign_in_at) %> ago</span> -->
            </h5>
            <p>From <%= conversation.buyers.country %></p>
          </div>
        </div>
      </div>
    <% #end %>
  <% end %>
<% end %>
