<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
<div class="inbox_msg">
  <div class="inbox_people">
    <%= render partial: '/conversations/chats/search_bar' %>
    <% if @conversations.blank? %>
      <div class="heading-holder">
        <h4 class="text-center" style="padding-top: 5%">No conversation found</h4>
      </div>  
    <% else %>
      <div class="inbox_chat">
        <%= render partial: '/conversations/user_lists' %>
      </div>
    <% end %>
  </div>
  <div class="chat-header">
    <%= render partial: '/conversations/chats/chat_header' %>
  </div>
  <div class="<%= @conversation.blank? ? '' : 'mesgs' %>">
    <%= render partial: '/conversations/chats/chat' %>
    <%= render partial: '/conversations/chats/chat_form' %>
  </div>
</div>
<div id="customer-form-modal"></div>
<div id="show-custom-form-modal"></div>
<% if @conversation.present? %>
  <script type="text/javascript">
    var current_conversation_id = <%= @conversation.id %>;
    var current_user_id = <%= current_user.id %>;
    <% if current_user.sellers? %>
      var current_user_role = "seller";
    <% else %>
      var current_user_role = "buyer";
    <% end %> 
    var user_name = $("#user_name").val();
    var conversation_url = '<%= conversation_url(@conversation) %>';
    var chats_recipients = new Object();
    chats_recipients[<%= @conversation.seller_id %>] = {
      "name": "<%= (@conversation.seller_id == current_user.id) ? @conversation.sellers.full_name : @conversation.sellers.full_name %>",
      "image": "<%= image_path(@conversation.sellers.check_avatar.blank? ? 'avatar-placeholder-extra-small.png' : @conversation.sellers.check_avatar) %>"
    };
    chats_recipients[<%= @conversation.buyer_id %>] = {
      "name": "<%= (@conversation.buyer_id == current_user.id) ? @conversation.buyers.full_name : @conversation.buyers.full_name %>",
      "image": "<%= image_path(@conversation.buyers.check_avatar.blank? ? 'avatar-placeholder-extra-small.png' : @conversation.buyers.check_avatar) %>"
    };

  // $(function(){           
  //   $('.ratings .stars-rating').rating({ 
  //     callback: function(value){ 
  //       $.ajax({
  //         method: "POST",
  //         url: "/rating",
  //         data: {"rate": value,"seller_id": '<%= @conversation.seller_id %>'}
  //       }).done(function(response) {
  //         if(response.status){
  //           location.reload();
  //         }
  //       });
  //     } 
  //   });
  //   $('.rating-cancel').remove()
  // });
  $(function() {
    $('#file-input').fileupload({
        dataType: 'json',
        done: function (e, data) {
          $("#image-upload").attr("top","15%");
          var arr = ["pdf","doc","docx"]
          var extension = data.result.file_path.split(".").pop()
          var html = "";
          if(jQuery.inArray(extension,arr) !== -1){
            html = '<div class="file-container"><img src="https://img.icons8.com/cute-clipart/128/000000/image-file.png" data-src="'+data.result.file_path+'"><a href="javascript:;" id="image-link" onclick="$(\'.conversation-file-container\').html(\'\')">X</a></div>'
          }else{
            html = '<div class="file-container"><img class= "thumb" src="'+data.result.file_path+'" data-src="'+data.result.file_path+'" /><a href="javascript:;" id="image-link" onclick="$(\'.conversation-file-container\').html(\'\')">X</a></div>';
          }
          $(".conversation-file-container").html(html);
        }
    });
  });
</script>
<% end %>
<!-- <script type="text/javascript">
  <%# unless @conversations.blank? %>
    $(function(){
      var availableTags = [];
      <%# if current_user.buyers? %>
        <%# @conversations.each do |conversation| %>
          availableTags.push('<%#= conversation.sellers.full_name %>');
        <%# end %>
      <%# else %>
        <%# @conversations.each do |conversation| %>
          availableTags.push('<%#= conversation.buyers.full_name %>');
        <%# end %>
      <%# end %>
      $( "#name" ).autocomplete({
        source: availableTags
      });
    });
  <%# end %>
</script> -->
<style type="text/css">
  .online{
    width: 38px;
  }
</style>
<style type="text/css">
  .comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
  }
  .comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
  }
  .comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
  }
  .image-upload > input{
    display: none;
  }
  .image-upload img{
    width: 80px;
    cursor: pointer;
  }
  .thumb{
    height: 100px;
    width: 100px;
  }
  #image-link{
    position: absolute;
    left: 96px;
    top: 36px;
  }

  #abc{
    position: absolute;
    top: 10px;
  }

  #customer-offer{
    position: absolute;
    left: 35px;
  }

  <% if @conversations.blank? %>
  .srch_bar {
    margin-left: 165px;
  }
  <% end %>
  .fa-star{
    color: #f9d71c;
  }
  .on-top{
    position: relative;
    top: -45px;
  }
  .change-color{
    background-color: purple;
    color: white;
  }
  .change-color:hover{
    background-color: purple;
  }
  .change-color:active{
    background-color: purple;
  }
</style>