<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
<div class="inbox_msg">
  <div class="inbox_people">
    <%= render partial: '/conversations/search_bar' %>
    <% if @conversations.blank? %>
      <div class="heading-holder">
        <h4 class="text-center" style="padding-top: 5%">No conversation found</h4>
      </div>  
    <% else %>
      <div class="inbox_chat">
        <%= render partial: '/conversations/user_lists' %>
      </div>
    <% end %>
  </div>
  <% unless @conversation.blank? %>
    <div style="border-bottom: 1px solid #c4c4c4; padding:10px 29px 10px 20px; overflow:hidden;">
      <div class="">
        <% if current_user.buyers? %>
          <h4>
            <span><%= online_status @conversation.sellers %></span>&nbsp;&nbsp;
            <%= link_to @conversation.sellers.full_name,profile_path(@conversation.sellers) %>
            <span>
            <span class="chat_date">
            <% if @conversation.starred? %>
              <%= link_to "",starred_me_path(@conversation),class: "fa fa-star" %> 
            <% else %>
              <%= link_to "",starred_me_path(@conversation),class: "fa fa-star-o" %> 
            <% end %>
            </span>
          </h4>
          <span class="chat_date">
            <% if @conversation.sellers.user_online? %>
              Online
            <% else %>
              Offline
            <% end %>
            &nbsp;|&nbsp;
            Last Seen <%=  time_ago_in_words(local_time(@conversation.sellers.last_sign_in_at)) %> ago
            &nbsp;|&nbsp;
            Local Time <%= local_time(@conversation.sellers.last_sign_in_at) %> 
          </span>
        <% else %>
          <h4>
            <span><%= online_status @conversation.buyers %></span>
            &nbsp;&nbsp;
            <%= link_to @conversation.buyers.full_name,profile_path(@conversation.buyers) %>
            <span class="chat_date">
              <% if @conversation.starred? %>
                <%= link_to "",starred_me_path(@conversation),class: "fa fa-star" %> 
              <% else %>
                <%= link_to "",starred_me_path(@conversation),class: "fa fa-star-o" %> 
              <% end %>
            </span>
          </h4>
          <span class="chat_date">
            <% if @conversation.buyers.user_online? %>
              Online
            <% else %>
              Offline
            <% end %>
            &nbsp;|&nbsp;
            Last Seen <%= time_ago_in_words(local_time(@conversation.buyers.last_sign_in_at)) %> ago
            &nbsp;|&nbsp;
            Local Time <%= local_time(@conversation.buyers.last_sign_in_at) %>
          </span>
        <% end %>
      </div>
    </div>
  <% else %>
    <div style="border-bottom: 1px solid #c4c4c4; padding:10px 29px 10px 20px; overflow:hidden;">
      <div class="text-center">
        Select a conversation to read it here.
      </div>
    </div>
  <% end %>
  <div class="<%= @conversation.blank? ? '' : 'mesgs' %>">
    <% unless @conversation.blank? %>
      <% unless @customer_offer.blank? %>
        <div id="offer"></div>
      <% end %>
      <div class="msg_history" id="messages" data-conversation-id="<%= @conversation.id %>">
      </div>
    <% end %>
    <div class="type_msg">
      <div class="input_msg_write">
        <% if !@conversation.blank? %>
          <%= form_for @chat,url: "#" do |f| %>
            <% if current_user.sellers? %>
              <%= hidden_field_tag :user_name, @conversation.buyers.full_name %> 
            <% else %>
              <%= hidden_field_tag :user_name, @conversation.sellers.full_name %>
            <% end %>
            <%= hidden_field_tag :user_id, current_user.id %> 
            <%= f.text_field :message, class: 'message-input write_msg', data: {emojiable: true } %>
            <div class="conversation-file-container"></div>
            <div class="py-3">
              <div class="row">
                <div class="col">
                  <div class="image-upload" id="abc" >
                    <label for="file-input">
                      <i class="fa fa-paperclip"></i>
                    </label>
                    <%#= f.file_field :image,id: "file-input",class: "" %>
                    <%= file_field_tag "conversation[image]", id: "file-input",data: { url: image_conversation_path(@conversation.id) } ,multiple: false %>
                  </div>
                  <% #if current_user.sellers? %>
                    <%= link_to "Custom Offer",show_customer_offer_path(@conversation.id),method: :get,class: "btn btn-success", id: 'customer-offer', remote: true %>  
                  <%# end %>
                </div>
                <div class="col">
                  <%= button_tag 'Send', type: 'Submit', class: "btn btn-success pull-right" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="customer-form-modal"></div>
<div id="show-custom-form-modal"></div>
<% if @conversation.present? %>
  <script type="text/javascript">
    var current_conversation_id = <%= @conversation.id %>;
    var current_user_id = <%= current_user.id %>;
    var user_name = $("#user_name").val();
    var conversation_url = '<%= conversation_url(@conversation) %>';
    var chats_recipients = new Object();
    chats_recipients[<%= @conversation.seller_id %>] = {
      "name": "<%= (@conversation.seller_id == current_user.id) ? @conversation.sellers.full_name : @conversation.sellers.full_name %>",
      "image": "<%= image_path(@conversation.sellers.check_avatar.blank? ? 'avatar-placeholder-extra-small.png' : @conversation.sellers.check_avatar) %>"
    };
    chats_recipients[<%= @conversation.buyer_id %>] = {
      "name": "<%= (@conversation.buyer_id == current_user.id) ? @conversation.buyers.full_name : @conversation.buyers.full_name %>",
      "image": "<%= image_path(@conversation.buyers.check_avatar.blank? ? 'avatar-placeholder-extra-small.png' : @conversation.buyers.check_avatar) %>"
    };

  // $(function(){           
  //   $('.ratings .stars-rating').rating({ 
  //     callback: function(value){ 
  //       $.ajax({
  //         method: "POST",
  //         url: "/rating",
  //         data: {"rate": value,"seller_id": '<%= @conversation.seller_id %>'}
  //       }).done(function(response) {
  //         if(response.status){
  //           location.reload();
  //         }
  //       });
  //     } 
  //   });
  //   $('.rating-cancel').remove()
  // });
  $(function() {
    $('#file-input').fileupload({
        dataType: 'json',
        done: function (e, data) {
          $("#image-upload").attr("top","15%");
          var arr = ["pdf","doc","docx"]
          var extension = data.result.file_path.split(".").pop()
          var html = "";
          if(jQuery.inArray(extension,arr) !== -1){
            html = '<div class="file-container"><img src="https://img.icons8.com/cute-clipart/128/000000/image-file.png" data-src="'+data.result.file_path+'"><a href="javascript:;" id="image-link" onclick="$(\'.conversation-file-container\').html(\'\')">X</a></div>'
          }else{
            html = '<div class="file-container"><img class= "thumb" src="'+data.result.file_path+'" data-src="'+data.result.file_path+'" /><a href="javascript:;" id="image-link" onclick="$(\'.conversation-file-container\').html(\'\')">X</a></div>';
          }
          $(".conversation-file-container").html(html);
        }
    });
  });
</script>
<% end %>
<!-- <script type="text/javascript">
  <%# unless @conversations.blank? %>
    $(function(){
      var availableTags = [];
      <%# if current_user.buyers? %>
        <%# @conversations.each do |conversation| %>
          availableTags.push('<%#= conversation.sellers.full_name %>');
        <%# end %>
      <%# else %>
        <%# @conversations.each do |conversation| %>
          availableTags.push('<%#= conversation.buyers.full_name %>');
        <%# end %>
      <%# end %>
      $( "#name" ).autocomplete({
        source: availableTags
      });
    });
  <%# end %>
</script> -->
<style type="text/css">
  .online{
    width: 38px;
  }
</style>
<style type="text/css">
  .comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
  }
  .comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
  }
  .comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
  }
  .image-upload > input{
    display: none;
  }
  .image-upload img{
    width: 80px;
    cursor: pointer;
  }
  .thumb{
    height: 100px;
    width: 100px;
  }
  #image-link{
    position: absolute;
    left: 96px;
    top: 36px;
  }

  #abc{
    position: absolute;
    top: 10px;
  }

  #customer-offer{
    position: absolute;
    left: 35px;
  }

  <% if @conversations.blank? %>
  .srch_bar {
    margin-left: 165px;
  }
  <% end %>
  .fa-star{
    color: #f9d71c;
  }
  .on-top{
    position: absolute;
    left: 136px;
  }
</style>