<div class="tab-pane" id="priority_orders">
  <!-- <div class="tab-pane active in" id="priority_orders"> -->
<div class="panel-body">
    <div class="table-responsive">
      <table id="new-table" class="table responsive table-hover table-condensed mb25" data-sortable data-sortable-initialized="true">
        <thead>
          <tr>
            <th>
              <% if current_user.sellers? %>
              BUYER
              <% else %>
              SELLER
              <% end %>
            </th>
            <th>SERVICE</th>
            <th>Starting At</th>
            <th>Ending At</th>
            <!-- <th>TOTAL</th> -->
          </tr>
        </thead>
        <tbody>
          <% @order_priority.each do |item| %>
           <tr>
            <td class="align-middle">
              <% if current_user.sellers? %>
                <%= link_to item.order.user.full_name,profile_path(item.order.user) %>
              <% else %>
                <%= link_to item.package.service.seller.full_name,profile_path(item.package.service.seller) %>
              <% end %>
            </td>
            <td class="align-middle">
              <%= link_to item.package.service.title,order_path(item.id),method: 'get' %>
            </td>
            <td class="align-middle"><%= item.starting_at.strftime("%d %B %Y") %></td>
            <td class="align-middle"><%= item.ending_at.strftime("%d %B %Y") %></td>
            <!-- <td class="align-middle"><%#= item.quantity %></td> -->
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>