<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class=""> 
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <h4>Revision Order</h4>
      			  <p>Welcome! Here you can work things out resolve issues regarding your order.</p>
      			  <hr>
              <p>Buyer: <%= @revision.order_item.order.user.full_name %></p>
              <p>Seller: <%= @revision.order_item.package.service.seller.full_name %></p>
              <p>Status:
                <% if @revision.pending?  %>
                  <%= link_to "Pending",revision_path(@revision),class: "badge badge-danger" %>
                <% elsif @revision.rejected? %>
                  <%= link_to "Rejected",revision_path(@revision),class: "badge badge-info" %>
                <% elsif @revision.approved? %>
                  <%= link_to "Approved",revision_path(@revision),class: "badge badge-success" %>
                <% end %>   
              </p>
              <div class="package-table">
                <h6>Buyer Revision Requirements</h6><hr>
                <p><%= @revision.description %></p>
                <% if @revision.pending? %>
                  <%# if @revision.user.id == current_user.id %>
                    <%#= link_to "WithDraw",root_path, class: "btn btn primary pull-right" %> 
                  <%# else %>
                    <%#= render partial: 'orders/forms/order_cancel_reject_form' %>
                    <%#= render partial: 'orders/forms/order_cancel_approval_form' %>
                  <%# end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <%#= render partial: 'orders/order_sidebar_detail', locals: {"@order": @dispute.order_item} %>
    </div>
</div>