<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class=""> 
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <h4>Revision Order</h4>
      			  <p>Welcome! Here you can work things out resolve issues regarding your order.</p>
      			  <hr>
              <p>Buyer: <%= @revision.order_item.order.user.full_name %></p>
              <p>Seller: <%= @revision.order_item.package.service.seller.full_name %></p>
              <p>Status:
                <% if @revision.pending?  %>
                  <%= link_to "Pending",revision_path(@revision),class: "badge badge-danger" %>
                <% elsif @revision.approved? %>
                  <%= link_to "delivery in",revision_path(@revision),class: "badge badge-success" %>
                <% end %>   
              </p>
              <p>Order: <%= link_to "View",order_path(@revision.order_item),class: "badge badge-info" %></p>
              <div class="package-table">
                <h6>Buyer Revision Requirements</h6><hr>
                <p><%= @revision.description %></p>
                <% if @revision.pending? && @revision.seller_id == current_user.id %>
                  <%= link_to "REVISION HAS BEEN MADE, DELIVERING AGAIN", revision_path(id: @revision), method: :patch, class: "btn change-color pull-right",'data-confirm' => "REVISION HAS BEEN MADE, DELIVERING AGAIN"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <%#= render partial: 'orders/order_sidebar_detail', locals: {"@order": @dispute.order_item} %>
    </div>
</div>
<style type="text/css">
  .change-color{
    background-color: purple;
    color: white;
  }
  .change-color:hover{
    background-color: purple;
  }
  .change-color:active{
    background-color: purple;
  }
</style>
