<div class="owl-carousel owl-theme owl-loaded">
  <% Service.most_hit.each do |service| %>
    <div class="item card">
      <% unless service.photos.blank? %>
        <%= link_to image_tag(service.photos.first.image_url(:service_small_thumb), alt: "",class: "card-img-top img-fluid"), service_path(service) %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title text-truncate text-capitalize">
          I Can <%= service.title.truncate(15) %>
        </h5>
        <% unless service.seller.avatar_url.blank? %>
          <p class="align-inline"><%= image_tag service.seller.avatar_url(:small), class: 'rounded-circle' %><span class="pl-3"><%= link_to service.seller.full_name.truncate(10), profile_path(service.user_id) %></span></p>
        <% else %>
          <p class="align-inline"><%= image_tag default_image_url, size: '50x50', class: 'rounded-circle' %><span class="pl-3"><%= link_to service.seller.full_name.truncate(10), profile_path(service.user_id) %></span></p>
        <% end %>
        <p class="card-text text-truncate">
          <% if service.description.blank? %>
            <%= service.description %>
          <% else %>
            <%= service.description.truncate(40) %>
          <% end %>
        </p>
      </div> 
      <div class="card-footer">
        <% if user_signed_in? && current_user.buyers? %>
          <i class='fa fa-bars' data-toggle="dropdown"></i>
          <ul class="dropdown-menu">
            <% current_user.wishes.each do |w| %>
              <li class="dropdown-item">
                <%= w.name %>
                <% if w.favorite(service).blank? %>
                  <%= link_to "<i class='fa fa-heart-o'></i>".html_safe,wish_list_status_path(service,w)
                  %>
                <% else %>
                  <%= link_to "<i class='fa fa-heart'></i>".html_safe,wish_list_delete_path(service,w), method: :delete %>
                <% end %>
              </li>
            <% end %>
            <% unless current_user.wishes.blank? %>
              <div class="dropdown-divider"></div>   
            <% end %>
            <li class="dropdown-item">
              <i class='fa fa-plus'>
              <%= link_to "Create List",wish_list_path(service), remote: true %>
              </i>
            </li>
          </ul>
          <%#= link_to "<i class='fa fa-bars'></i>".html_safe,"data-toggle" => "dropdown" %>
        <% end %>
        <%= favorite_heart(current_user,service) %>
        <span><%= service.favorited_users.size %></span>
        <span class="float-right small">STARTING AT <span class="h5">$<%= service.minimum_price %></span></span>
      </div>    
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    onInitialized:6,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
  })
</script>
<style type="text/css">
  .owl-carousel .owl-item img{
    width: auto;
    display: block;
  }

  .align-inline{
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
</style>
