<div class="border border-light text-center p-3">
    <%= image_tag @seller.check_avatar, size: '150x150', class: 'img-fluid rounded-circle pt-2', alt: "Upload Photo" %>
    <p class="h3 bold py-3"><%= @seller.full_name %></p>
    <div class="mb-3" id="all-stars-<%= @seller.id %>"></div>
    <% if user_signed_in? %>
      <% if current_user.id != @seller.id %>  
        <%= link_to "Contact Me",conversations_path(seller_id: @seller.id),class: "btn btn-outline-success",method: :post %>
      <% end %>
    <% else %>
      <%= link_to "Contact Me",conversations_path(seller_id: @seller.id),class: "btn btn-outline-success",method: :post %>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size"><i class="fa fa-map-marker profile-icon-size pr-3"></i> From</p>
      </div>
      <% unless @seller.country.blank? %>
        <div class="col-sm-6 text-right">
          <p class="text-secondary profile-icon-size"><strong><%= @seller.country_name(@seller.country) %></strong></p>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size"><i class="fa fa-map profile-icon-size pr-3"></i>Service Offerings</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-secondary profile-icon-size"><strong><%= @seller.services.size %></strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size"><i class="fa fa-user profile-icon-size pr-3"></i> Member Since</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-secondary profile-icon-size"><strong><%= @seller.created_at.strftime("%F") %></strong></p>
      </div>
    </div>
    <% if !@seller.seller_level(@seller).blank? %>
      <% if @seller.seller_level(@seller) == "Pro Seller" || @seller.seller_level(@seller) == "Top Seller" %> 
        <div class="row">
          <div class="col-sm-6 text-left">
            <p class="text-secondary profile-icon-size">Seller Level</p>
          </div>
          <div class="col-sm-6 text-right">
            <p class="text-secondary profile-icon-size"><strong><%= @seller.seller_level(@seller) %></strong></p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
<div class="border border-light p-3 mt-3">
  <p class="h3 bold">Description</p>
  <p class="text-secondary"><%= @seller.description %></p>
  <hr>
  <p class="h3 bold pt-3">Language</p>
  <p class="text-secondary"><%= @seller.language %></p>
  <hr>
  <p class="h3 bold pt-3">Skills</p>
  <% @seller.user_skills.each do |s| %>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size"><%= s.skill.name %></p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-secondary profile-icon-size"><strong><%= s.level %></strong></p>
      </div>
    </div>
  <% end %>
  <hr>
  <p class="h3 bold pt-3">Education</p>
  <% @seller.user_educations.each do |e| %>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size">Country</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-secondary profile-icon-size"><strong><%= e.country %></strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size">Institution</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-secondary profile-icon-size"><strong><%= e.institution_name %></strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size">Degree Title</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-secondary profile-icon-size"><strong><%= e.title %></strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size">Major</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-secondary profile-icon-size"><strong><%= e.major %></strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-secondary profile-icon-size">Passing Year</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-secondary profile-icon-size"><strong><%= e.passing_year %></strong></p>
      </div>
    </div>
  <% end %>
</div>

<script>
  <% if @show.blank? %>
    <% if @seller.sellers? %>
      var star = <%= @seller.buyer_review_star %>
    <% else %>
      var star = <%= @seller.seller_review_star %>
    <% end %>
  <% else %>
      var star = <%= @service.buyer_review_star %>
  <% end %>
  $('#all-stars-<%= @seller.id %>').raty({
    path: '/assets',
    readOnly: true,
    size: 5,
    score: star
  });
</script>