<div class="container-fluid px-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="SortBlufLink">
        <h2>Earnings</h2>
        <span> expected Income: <%= number_to_currency(current_user.seller_expected_income) %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 15rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Net Income</h5>
        <h5 class="card-text"><%= number_to_currency(current_user.seller_net_income) %></h5>
      </div>
    </div>
    <div class="card" style="width: 15rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Withdrawn</h5>
        <h5 class="card-text"><%= number_to_currency(current_user.seller_withdrawn_money) %></h5>
      </div>
    </div>
    <div class="card" style="width: 15rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Used For Purchases</h5>
        <h5 class="card-text"><%= number_to_currency(current_user.seller_used_for_purchases) %></h5>
      </div>
    </div>
    <div class="card" style="width: 15rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Pending Clearance</h5>
        <h5 class="card-text"><%= number_to_currency(current_user.seller_pending_clearance_amount) %></h5>
      </div>
    </div>
    <div class="card" style="width: 15rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Available for Withdraw</h5>
        <h5 class="card-text"><%= number_to_currency(current_user.seller_available_for_withdraw_amount) %></h5>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <!-- <strong>WithDraw:<strong> -->
      <!-- <strong> --> 
        <% if current_user.seller_available_for_withdraw_amount > 0 %>
          <%= link_to "Withdraw Fund to PayPal Account",balance_path(current_user.id),:class=>"btn change-color" ,remote: true %>
        <% else %>
          <%= link_to "Withdraw Fund to PayPal Account",'javascript:void(0)',:class=>"btn change-color","data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"No Earning To Withdraw"%>
        <% end %>
      <!-- </strong> -->
      <!-- <strong> --> 
        <%= link_to "Contact us about an order",order_request_path,:class=>"btn change-color" ,remote: true %>
      <!-- </strong> -->
    </div>
  </div>
  <hr>
  <div class="">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#seller_transaction" data-toggle="tab">Transaction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#seller_orders" data-toggle="tab">Order Request</a>
      </li>
    </ul>
    <div class="tab-content">
      <%= render partial: 'balances/transactions/seller_transaction'%>
      <%= render partial: 'balances/refunds/seller_refund_requests'%>
    </div>
  </div>
</div>
</section>
<script>
  $(function(){
    $('table').DataTable();
  });
</script>
<style type="text/css">
  .change-color{
    background-color: purple;
    color: white;
  }
  .change-color:hover{
    background-color: purple;
  }
  .change-color:active{
    background-color: purple;
  }
</style>
<div id="paypal-form-modal"></div>
<div id="seller-order-modal"></div>