<div class="container-fluid px-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="SortBlufLink">
        <h3>My Shopping</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 20rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Balance</h5>
        <h5 class="card-text">
          <%#= number_to_currency(current_user.buyer_total_balance) %>
          <%#= number_to_currency(current_user.buyer_refunded_amount) %>
          <% if current_user.currency == "USD" %>
              <%= number_to_currency(current_user.buyer_refunded_amount) %>
            <% else %>
              <%= number_to_currency((current_user.buyer_refunded_amount * current_user.currency_unit), unit: current_user.symbol) %>
            <% end %>    
        </h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Refunded Orders</h5>
        <h5 class="card-text">
          <%#= number_to_currency(current_user.buyer_refunded_amount) %>
          <% if current_user.currency == "USD" %>
              <%= number_to_currency(current_user.buyer_refunded_amount) %>
            <% else %>
              <%= number_to_currency((current_user.buyer_refunded_amount * current_user.currency_unit), unit: current_user.symbol) %>
            <% end %>   
        </h5>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Balance Withdrawn</h5>
        <h5 class="card-text">
          <%#= number_to_currency(current_user.buyer_withdrawn_amount) %>
          <% if current_user.currency == "USD" %>
              <%= number_to_currency(current_user.buyer_withdrawn_amount) %>
            <% else %>
              <%= number_to_currency((current_user.buyer_withdrawn_amount * current_user.currency_unit), unit: current_user.symbol) %>
            <% end %>
        </h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Balance Refund Request</h5>
        <h5 class="card-text">
          <%#= number_to_currency(current_user.buyer_available_for_withdraw_amount) %>
          <% if current_user.currency == "USD" %>
              <%= number_to_currency(current_user.buyer_available_for_withdraw_amount) %>
            <% else %>
              <%= number_to_currency((current_user.buyer_available_for_withdraw_amount * current_user.currency_unit), unit: current_user.symbol) %>
            <% end %> 
        </h5>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <!-- <strong>WithDraw:<strong> -->
      <!-- <strong> -->
      <!-- here is line for withdwar buyer ammount   -->
        <%# if current_user.buyer_available_for_withdraw_amount > 0 %>
          <%#= link_to "Withdraw Refund to PayPal Account",balance_path(current_user.id),:class=>"btn change-color" ,remote: true %>
        <%# else %>
          <%#= link_to "Withdraw Refund to PayPal Account",'javascript:void(0)',:class=>"btn change-color","data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"No balance or refund To Withdraw"%>
        <%# end %>
      <!-- </strong> -->
      <!-- <strong> --> 
        <%#= link_to "Request a Refund",refund_request_path,:class=>"btn change-color" ,remote: true %>

        <!-- <button  id='request-refund' class= "btn change-color" >Request Refund</button>
        
        <span class="hidden" id = "options-container">
         <%#= link_to 'Order',refund_request_path,:class=>"btn change-color" ,remote: true %>
         <%#= link_to 'Balance', buyer_balance_path, :class=>"btn change-color", remote: true%>
       </span> -->
       <button type="button" class= "btn change-color" data-toggle="modal" data-target="#myModal" >Request A Refund</button>
       <div class="modal fade bd-example-modal-sm" id = "myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Request A Refund</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= link_to 'Order Refund',refund_request_path,:class=>"btn change-color" , 'data-dismiss' => "modal" ,remote: true %>
              <%#= link_to 'Balance Refund', buyer_balance_path, :class=>"btn change-color" , 'data-dismiss' => "modal", remote: true%>
              <% if current_user.buyer_available_for_withdraw_amount > 0 %>
          <%= link_to "Balance Refund",balance_path(current_user.id),:class=>"btn ml-3 change-color" ,remote: true, 'data-dismiss' => "modal" %>
          <% else %>
          <%= link_to "Balance Refund",'javascript:void(0)',:class=>"btn change-color","data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"No balance or refund To Withdraw", 'data-dismiss' => "modal"%>
        <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </strong> -->
    </div>
  </div>
  <hr>
  <div class="">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#buyer_transaction" data-toggle="tab">
          Transaction
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#buyers_refunds" data-toggle="tab">
          Order Refund Request
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#balance_requested" data-toggle="tab">
          Balance Refund Request
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <%= render partial: 'balances/transactions/buyer_transaction'%>
      <%= render partial: 'balances/refunds/buyer_refund_requests'%>
      <%= render 'balances/transactions/balance_request' %>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('table').DataTable({
      "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ]
    });
  });
</script>
<div id="paypal-form-modal"></div>
<div id="refund-balance-modal"></div>
<style type="text/css">
  .change-color{
    background-color: purple;
    color: white;
  }
  .change-color:hover{
    background-color: purple;
  }
  .change-color:active{
    background-color: purple;
  }
</style>
