<div class="container-fluid px-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="SortBlufLink">
          <h3>My Shopping</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card" style="width: 20rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Net Amount</h5>
          <h5 class="card-text"><%= number_to_currency(current_user.buying_amount - current_user.payments.refund.sum(:amount)) %></h5>
        </div>
      </div>
      <div class="card" style="width: 20rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Withdrawn</h5>
          <h5 class="card-text"><%= number_to_currency(current_user.payments.refund.sum(:amount)) %></h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Refund</h5>
          <h5 class="card-text"><%= number_to_currency(current_user.total_refund_balance) %></h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Available for Withdraw</h5>
          <h5 class="card-text"><%= number_to_currency(current_user.total_refund_balance - current_user.payments.refund.sum(:amount)) %></h5>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        <strong>Refund Request:<strong>
        <strong> 
          <% if (current_user.net_coming - current_user.withdrawn_money) == 0 %>
            <%= link_to "PayPal Account",'javascript:void(0)',:class=>"btn btn-primary","data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"No Earning To Withdraw"%>
          <% else %>
            <%= link_to "PayPal Account",balance_path(current_user.id),:class=>"btn change-color" ,remote: true %>
          <% end %>
        </strong>
      </div>
    </div>
    <hr>
    <div class="">
      <div class="SortBlufLink">
        <h2>Transaction</h2>
      </div>
      <table class="table responsive table-hover table-condensed mb25" data-sortable data-sortable-initialized="true">
        <thead>
          <tr>
            <th>Date</th>
            <th>For</th>
            <th>Sub Total</th>
            <th>Service Fee</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.purchase.each do |item| %>
          	<tr>
              <td class="align-middle"><%= item.created_at.strftime("%d %B %Y") %></td>
              <td class="align-middle"><%= link_to item.package.service.title,order_path(item.id) %></td>
              <td class="align-middle"><%= number_to_currency(item.price) %></td>
              <td class="align-middle"><%= number_to_currency(item.price*ENV['SERVICE_FEE'].to_i/100) %></td>
              <td class="align-middle"><%= number_to_currency(item.price + item.price*ENV['SERVICE_FEE'].to_i/100) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</section>
<script>
  $(function(){
    $('table').DataTable();
  });
</script>
<div id="paypal-form-modal"></div>
<style type="text/css">
  .change-color{
    background-color: purple;
    color: white;
  }
  .change-color:hover{
    background-color: purple;
  }
  .change-color:active{
    background-color: purple;
  }
</style>