<% reviews.each  do |review| %>
  <li class="media">
    <a href="#" class="pull-left">
      <% if review.type == "BuyerReview" %>
        <%= image_tag review.buyer.check_avatar, class: 'img-circle profile-img', alt: "" %>
      <% else %>
        <%= image_tag review.seller.check_avatar, class: 'img-circle profile-img', alt: "" %>
      <% end %>
    </a>
    <div class="media-body">
        <span class="text-muted pull-right">
          <small class="text-muted"><%= local_time(review.created_at) %></small>
        </span>
        <strong class="text-success">
          <% if review.type == "BuyerReview" %>
            <% if review.buyer_id == current_user.id %>
              Me
            <% else %>
              <%= review.buyer.full_name %>
            <% end %>
          <% else %>
            <% if review.seller_id == current_user.id %>
              Me 
            <% else %>
              <%= review.seller.full_name %>
            <% end %>
          <% end %>
        </strong>
        <p>
          <% unless review.order_cancel.blank? %>
            <% if review.order_cancel.seller_extend_delivery_time? && review.order_cancel.approved? %>
              <%= link_to "Delivery extend by #{review.order_cancel.extend_delivery} days.",order_dispute_path(review.order_cancel),:target => "_blank",class: "btn change-color"  %>
            <% end %>
          <% end %>
          <%= review.comment.to_s.html_safe %>
          <% unless review.attachment.blank? %>
            <span>
              <%= link_to review.attachment_url,:target => "_blank" do  %>
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                <%= review.attachment.file.filename %>
              <% end %>
            <%#= image_tag review.attachment_url(:medium), class: 'img-circle', alt: "" %>
            </span>
          <% end %>
        </p>
    </div>
  </li>
<% end %>