<div class="container mt-4">
  <h5>FeedBack</h5>
  <div class="p-3 border border-light">
    <div class="py-3">
      <% if current_user.sellers? %>
        <h6><span>Buyer</span>  <%= link_to "#{@order.order.user.full_name}",profile_path(@order.package.service.seller) %></h6>
      <% else %>
        <h6><span>Seller</span>  <%= link_to "#{@order.package.service.seller.full_name}",profile_path(@order.package.service.seller) %></h6>
      <% end %>
      <hr>
      <div class="review-header pt-3">
        <span class="h3">Order #<%= @order.id %></span>
        <span id="all-stars-22" class="pl-2"></span>
        <span class="pl-2 yellow">
          <%= link_to "View Gig",service_path(@order.package.service) %> 
          <% if @order.completed? %>
            <span class="badge badge-info">completed</span>
          <% else %>
            <span class="badge badge-info">delivered</span>
          <% end %>
        </span>
        <span class="pl-2 pull-right h3"><%= number_to_currency(@order.package.price) %></span>
        <p><%= @order.package.description %></p>
        <div class="underline p-3"></div>
        <%= render partial: '/orders/comment' %>
      </div>
    </div>
  </div>
</div>