<div class="container mt-4">
  <div class="p-3 border border-light">
    <div class="py-3">
      <h6>FeedBack</h6>
      <hr>
      <div class="review-header pt-3">
        <span class="h3">Order #<%= @order.id %></span>
        <span id="all-stars-22" class="pl-2"></span>
        <span class="pl-2 yellow">
          <%= link_to "View Gig",service_path(@order.package.service) %> 
          <% if @order.completed? %>
            <span class="badge badge-info">completed</span>
          <% else %>
            <span class="badge badge-info">delivered</span>
          <% end %>
        </span>
        <span class="pl-2 pull-right h3"><%= number_to_currency(@order.package.price) %></span>
        <p><%= @order.package.description %></p>
        <div class="underline p-3"></div>
        <div class="row bootstrap snippets">
          <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                <div class="panel-body">
                  <div class="clearfix"></div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <% unless @order.buyer_star_status.blank? %>
                        <%= render partial: '/orders/feedback/buyer_comments' %>
                      <% end %>
                      <% unless @order.seller_star_status.blank? %>
                        <%= render partial: '/orders/feedback/seller_comments' %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @order.seller_star_status.blank? && current_user.sellers? %>
    <%= render partial: '/orders/forms/feedback_form' %>
  <% elsif @order.buyer_star_status.blank? %>
    <%= render partial: '/orders/forms/feedback_form' %>
  <% end %>
</div>
<style type="text/css">
  body{margin-top:20px;}
  .comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
  }
  .comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
  }
  .comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
  }
</style>
<script type="text/javascript">
  <% if @order.seller_star_status.blank? || @order.buyer_star_status.blank?  %>
    $('.review_star').raty({
      path: '/assets',
      size: 5,
      click: function(score,evt) {
        $('#review_star').val(score)
      }
    });
  <% end %>
  <% unless @order.buyer_star_status.blank? %>
    $('#seller-stars').raty({
      path: '/assets',
      readOnly: true,
      size: 5,
      score: '<%= @order.buyer_star_status.star %>'
    });
  <% end %>
  <% unless @order.seller_star_status.blank? %>
    $('#buyer-stars').raty({
      path: '/assets',
      readOnly: true,
      size: 5,
      score: '<%= @order.seller_star_status.star %>'
    });
  <% end %>
  $('#new_review').submit(function(e){
    var star = $('#review_star').val();
    if(star == 0){
      alert('Please Select Star')
      return false;
    }else{
      this.submit();
    }
  });
</script>
