<div class="container-fluid px-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="SortBlufLink">
          <h2>Manage Order</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="documents">
      <div class="box-tab justified">
        <ul class="nav nav-tabs">
          <% if current_user.sellers? %>
            <li class="active nav-item">
              <!-- <a class="nav-link active" href="#priority_orders" data-toggle="tab">Priority
                <span class="badge badge-light"><%= @order_priority.count %></span>
              </a> -->
            </li>
          <% end %>
          <li class="active nav-item">
            <%# if current_user.sellers? %>
              <!-- <a class="nav-link" href="#new_orders" data-toggle="tab">New
                <span class="badge badge-light"><%#= @order_start.count %></span>
              </a> -->
            <%# else %>
            <% if current_user.buyers? && @order_start.count > 0 %>
              <a class="nav-link active" href="#new_orders" data-toggle="tab">New
                <span class="badge badge-light"><%= @order_start.count %></span>
              </a>
            <% elsif current_user.sellers? && @order_start.count > 0 %>
              <a class="nav-link" href="#new_orders" data-toggle="tab">New
                <span class="badge badge-light"><%= @order_start.count %></span>
              </a>
            <% end %>
          </li>
          <li class="active nav-item">
            <% if current_user.buyers? %>
              <% if @order_start.count > 0 %>
                <a class="nav-link" href="#active_orders" data-toggle="tab">Active
                  <span class="badge badge-light"><%= @order_active.count %></span>
                </a>
              <% else %>
                <a class="nav-link active" href="#active_orders" data-toggle="tab">Active
                  <span class="badge badge-light"><%= @order_active.count %></span>
                </a>
              <% end %>
            <% else %>
              <a class="nav-link active in" href="#active_orders" data-toggle="tab">Active
                <span class="badge badge-light"><%= @order_active.count %></span>
              </a>
            <% end %>
          </li>
          <li class="active nav-item">
            <a class="nav-link" href="#late_orders" data-toggle="tab">Late
              <span class="badge badge-light"><%= @order_late.count %></span>
            </a>
          </li>
          <li class="active nav-item">
            <a class="nav-link" href="#disputed_orders" data-toggle="tab">Disputed
              <span class="badge badge-light"><%= @order_disputed.count %></span>
            </a>
          </li>
          <% if current_user.buyers? %>
            <li class="nav-item">
              <a class="nav-link" href="#awaiting_my_review" data-toggle="tab">Awaiting my Reviews
               <span class="badge badge-light"><%= @order_review.count %></span></a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#delivered" data-toggle="tab">Delivered <span class="badge badge-light"><%= @order_delivered.count %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#revision" data-toggle="tab">Revision <span class="badge badge-light"><%= @order_revision.count %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#completed" data-toggle="tab">Completed <span class="badge badge-light"><%= @order_completed.count %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cancelled" data-toggle="tab">Cancelled <span class="badge badge-light"><%= @order_cancelled.count %></span></a>
          </li>
        </ul>
        <div class="tab-content">
          <% if current_user.sellers? %>
            <%#= render partial: "/orders/manage_orders/priority" %>
          <% end %>
          <% if current_user.buyers? && @order_start.count > 0 %>
            <%= render partial: "/orders/manage_orders/new_orders" %>
          <% elsif current_user.sellers? && @order_start.count > 0 %>
            <%= render partial: "/orders/manage_orders/new_orders" %>
          <% end %>
          <%= render partial: "/orders/manage_orders/active_orders" %>
          <%= render partial: "/orders/manage_orders/late_order" %>
          <%= render partial: "/orders/manage_orders/disputed" %>
          <% if current_user.buyers? %>
            <%= render partial: "/orders/manage_orders/awaiting_my_review" %>
          <% end %>
          <%= render partial: "/orders/manage_orders/delivered" %>
          <%= render partial: "/orders/manage_orders/revision" %>
          <%= render partial: "/orders/manage_orders/completed" %>
          <%= render partial: "/orders/manage_orders/cancelled" %>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<div id="buyer-form-modal"></div>
<script>
  $(function(){
    $('table').DataTable({
      "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ]
    });
  });
</script>