<div class="container-fluid px-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="SortBlufLink">
          <h2>Manage Order</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="documents">
      <div class="box-tab justified">
        <ul class="nav nav-tabs">
          <li class="active nav-item">
            <a class="nav-link active" href="#new_orders" data-toggle="tab">New Orders
              <span class="badge badge-light"><%= @order_start.count %></span>
            </a>
          </li>
          <li class="active nav-item">
            <a class="nav-link" href="#active_orders" data-toggle="tab">Active Orders
              <span class="badge badge-light"><%= @order_active.count %></span>
            </a>
          </li>
          <li class="active nav-item">
            <a class="nav-link" href="#disputed_orders" data-toggle="tab">Disputed Orders
              <span class="badge badge-light"><%= @order_disputed.count %></span>
            </a>
          </li>
          <% if current_user.buyers? %>
            <li class="nav-item">
              <a class="nav-link" href="#awaiting_my_review" data-toggle="tab">Awaiting my Reviews
               <span class="badge badge-light"><%= @order_review.count %></span></a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#delivered" data-toggle="tab">Delivered <span class="badge badge-light"><%= @order_delivered.count %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#completed" data-toggle="tab">Completed <span class="badge badge-light"><%= @order_completed.count %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cancelled" data-toggle="tab">Cancelled <span class="badge badge-light"><%= @order_cancelled.count %></span></a>
          </li>
        </ul>
        <div class="tab-content">
          <%= render partial: "/orders/manage_orders/new_orders" %>
          <%= render partial: "/orders/manage_orders/active_orders" %>
          <%= render partial: "/orders/manage_orders/disputed" %>
          <% if current_user.buyers? %>
            <%= render partial: "/orders/manage_orders/awaiting_my_review" %>
          <% end %>
          <%= render partial: "/orders/manage_orders/delivered" %>
          <%= render partial: "/orders/manage_orders/completed" %>
          <%= render partial: "/orders/manage_orders/cancelled" %>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
