<div class="container">
  <!-- <div class="border border-light text-center" style="margin-bottom: 10px;">
    <div class="box-tab justified ">
      <ul class="nav nav-tabs navbar-light bg-light mr-auto nav nav-pills nav-justified">
        <li class="active nav-item">
            <a class="nav-link" href="javascript:void(0)" id="chat"><h6>ORDER CHAT</h6>
            </a>
          </li>
          <li class="active nav-item">
            <a class="nav-link" href="javascript:void(0)" id="detail"><h6>RECIEPT INFORMATION</h6>
            </a>
          </li>
          <li class="active nav-item">
            <a class="nav-link" href="javascript:void(0)" id="requirement"><h6>BUYER REQUIREMENTS</h6>
            </a>
          </li>
          <%# unless @order.inactive? %>
            <li class="active nav-item">
              <a class="nav-link" href="javascript:void(0)" id="remaining"><h6>COUNTDOWN</h6>
              </a>
            </li>
          <%# end %>
        </ul>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <!-- <div class="border border-light"> --> 
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#chat-tab" data-toggle="tab">
                    Order Chat
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#requirement" data-toggle="tab">
                    Buyer Requirements
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#detail" data-toggle="tab">
                    Receipt Information
                  </a>
                </li>
                <% unless @order.inactive? %>
                  <li class="nav-item">
                    <a class="nav-link" href="#order-remaining" data-toggle="tab">
                      Time Remaining
                    </a>
                  </li>
                <% end %>
              </ul> 
              <div class="tab-content">
                <%= render partial: '/orders/show/chat' %>
                <%= render partial: '/orders/show/requirement' %>
                <%= render partial: '/orders/show/detail' %>
                <% unless @order.inactive? %>
                  <%= render partial: '/orders/show/timming' %>
                <% end %>
              </div>
              <%#= render partial: '/orders/show/detail' %>
              <%# if @order.inactive? && current_user.buyers? %>
                <%#= render partial: '/orders/forms/order_active_form' %>
              <%# end %>
            </div>
          </div>
        </div>
      <!-- </div> -->   
    </div>
    <div class="col-lg-3 col-md-12">
      <%= render partial: 'orders/resolution_center' %>
      <%= render partial: 'orders/resolution_center/action' %>
    </div>
  </div>
</div>
<style type="text/css">
  .countdown {
    font-family: 'Roboto';
    text-transform: uppercase;
    padding-left: 32%;
  }
  .countdown > div { display: inline-block; }
  .countdown > div > span {
    display: block;
    text-align: center;
  }
  .countdown-container { margin: 0 3px; }
  .countdown-container .countdown-heading {
    font-size: 11px;
    margin: 3px;
    color: #666
  }
  .countdown-container .countdown-value {
    font-size: 50px;
    /*background: #b19cd;*/
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4)
  }

  .countdown1 {
    font-family: 'Roboto';
    text-transform: uppercase;
    padding-left: 32%;
  }
  .countdown1 > div { display: inline-block; }
  .countdown1 > div > span {
    display: block;
    text-align: center;
  }
  .countdown-container { margin: 0 3px; }
  .countdown-container .countdown-heading {
    font-size: 11px;
    margin: 3px;
    color: #666
  }
  .countdown-container .countdown-value {
    font-size: 50px;
    background: purple;
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4)
  }
  #request{
    margin-bottom: 10px; 
    background-color: #b19cd9;
    color: white;
  }
  .change-color{
    background-color: purple;
    color: white;
  }
  .change-color:hover{
    background-color: purple;
  }
  .change-color:active{
    background-color: purple;
  }
</style>
<script>
$(document).ready(function(){
  // $("#chat").click(function() {
  //   $('html, body').animate({
  //       scrollTop: $("#order-chat").offset().top
  //   }, 2000);
  // });

  // $("#detail").click(function() {
  //   $('html, body').animate({
  //       scrollTop: $("#order-detail").offset().top
  //   }, 2000);
  // });

  // $("#chat").click(function() {
  //   $('html, body').animate({
  //       scrollTop: $("#order-chat").offset().top
  //   }, 2000);
  // });

  // $("#requirement").click(function() {
  //   $('html, body').animate({
  //       scrollTop: $("#order-requirement").offset().top
  //   }, 2000);
  // });

  // $("#remaining").click(function() {
  //   $('html, body').animate({
  //       scrollTop: $("#order-remaining").offset().top
  //   }, 2000);
  // });

  $('#file-input').bind('change', function() {
    if(this.files[0].size/1024/1024 > 1){
      alert("File size should be less 1GB");
      $('#file-input').val('');
    }
  });
});
</script>
<div id="revision-form-modal"></div>