<div class="container">
  <div class="border border-light text-center" style="margin-bottom: 10px;">
    <div class="box-tab justified ">
      <ul class="nav nav-tabs navbar-light bg-light mr-auto nav nav-pills nav-justified">
        <li class="active nav-item">
            <a class="nav-link" href="javascript:void(0)" id="chat"><h6>Order Chat</h6>
            </a>
          </li>
          <li class="active nav-item">
            <a class="nav-link" href="javascript:void(0)" id="detail"><h6>Details</h6>
            </a>
          </li>
          <li class="active nav-item">
            <a class="nav-link" href="javascript:void(0)" id="requirement"><h6>Requirement</h6>
            </a>
          </li>
          <% if @order.active? %>
            <li class="active nav-item">
              <a class="nav-link" href="javascript:void(0)" id="remaining"><h6>Time Remaining</h6>
              </a>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class="border border-light"> 
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <%= render partial: '/orders/show/detail' %>
              <% if @order.inactive? && current_user.buyers? %>
                <%= render partial: '/orders/forms/order_active_form' %>
              <% end %>
              <% if @order.active? %>
                <%= render partial: '/orders/show/timming' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>   
      <%= render partial: '/orders/show/requirement' %>
      <%= render partial: '/orders/show/chat' %>
    </div>
    <div class="col-lg-3 col-md-12">
      <%= render partial: 'orders/resolution_center' %>
      <%= render partial: 'orders/resolution_center/action' %>
    </div>
  </div>
</div>
<style type="text/css">
  .countdown {
    font-family: 'Roboto';
    text-transform: uppercase;
    padding-left: 32%;
  }
  .countdown > div { display: inline-block; }
  .countdown > div > span {
    display: block;
    text-align: center;
  }
  .countdown-container { margin: 0 3px; }
  .countdown-container .countdown-heading {
    font-size: 11px;
    margin: 3px;
    color: #666
  }
  .countdown-container .countdown-value {
    font-size: 50px;
    background: #b19cd9;
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4)
  }

  .countdown1 {
    font-family: 'Roboto';
    text-transform: uppercase;
    padding-left: 32%;
  }
  .countdown1 > div { display: inline-block; }
  .countdown1 > div > span {
    display: block;
    text-align: center;
  }
  .countdown-container { margin: 0 3px; }
  .countdown-container .countdown-heading {
    font-size: 11px;
    margin: 3px;
    color: #666
  }
  .countdown-container .countdown-value {
    font-size: 50px;
    background: #b19cd9;
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4)
  }
</style>
<script>
$(document).ready(function(){
  $("#chat").click(function() {
    $('html, body').animate({
        scrollTop: $("#order-chat").offset().top
    }, 2000);
  });

  $("#detail").click(function() {
    $('html, body').animate({
        scrollTop: $("#order-detail").offset().top
    }, 2000);
  });

  $("#chat").click(function() {
    $('html, body').animate({
        scrollTop: $("#order-chat").offset().top
    }, 2000);
  });

  $("#requirement").click(function() {
    $('html, body').animate({
        scrollTop: $("#order-requirement").offset().top
    }, 2000);
  });

  $("#remaining").click(function() {
    $('html, body').animate({
        scrollTop: $("#order-remaining").offset().top
    }, 2000);
  });

  $('#file-input').bind('change', function() {
    if(this.files[0].size/1024/1024 > 1){
      alert("File size should be less 1GB");
      $('#file-input').val('');
    }
  });
});
</script>
