<!--SHOWCASE SLIDER -->
<script type="text/javascript">
  const choices = new Choices('[data-trigger]',
  {
    searchEnabled: false,
    itemSelectText: '',
  });
</script>
<section id="showcase">
  <div class="s003">
    <%= form_tag services_path,:id => 'elm_id', method: :get do %>
    <div class="inner-form">
      <div class="input-field first-wrap">
        <div class="input-select" style="padding: 10px;">
          <select data-trigger="" name="choices-single-default" >
            <option placeholder="">Category</option>
            <%= @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.title %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="input-field second-wrap">
        <%= text_field_tag :search,nil,:placeholder=>"Enter Keywords?"  %>
      </div>
      <div class="input-field third-wrap">
        <button class="btn-search" type="button" id="search-button">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <% end %>
  </div>
</section>

<script type="text/javascript">
$(function(){
  const choices = new Choices('[data-trigger]',
  {
    searchEnabled: false,
    itemSelectText: '',
  });
});
</script>
<style type="text/css">
.s003 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  background-image: url('<%= Banner.first.image_url %>');
  background-size: cover;
  background-position: center center;
  padding: 15px;
}
</style>
<script type="text/javascript">
  $("#search-button").click(function() {
    $("#elm_id").submit();
  });
</script>
