<div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 p-3 text-center">
        <%= link_to image_tag('graphics-design.svg',class: 'explore_img', alt: ""), root_path, class: "underline_image" %>
        <p>Graphics & Design</p>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 p-3 text-center">
        <%= link_to image_tag('online-marketing.svg',class: 'explore_img', alt: ""), root_path, class: "underline_image" %>
        <p>Digital Marketing</p>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 p-3 text-center">
        <%= link_to image_tag('writing-translation.svg',class: 'explore_img', alt: ""), root_path, class: "underline_image" %>
        <p>Writing & Translation</p>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 p-3 text-center">
        <%= link_to image_tag('video-animation.svg',class: 'explore_img', alt: ""), root_path, class: "underline_image" %>
        <p>Video & Animation</p>
       </div>
       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 p-3 text-center">
        <%= link_to image_tag('music-audio.svg',class: 'explore_img', alt: ""), root_path, class: "underline_image" %>
        <p>Music & Audio</p>
       </div>
       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 p-3 text-center">
        <%= link_to image_tag('programming.svg',class: 'explore_img', alt: ""), root_path, class: "underline_image" %>
        <p>Programming & Tech</p>
       </div>
       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 p-3 text-center">
        <%= link_to image_tag('business.svg',class: 'explore_img', alt: ""), root_path, class: "underline_image" %>
        <p>Business</p>
       </div>
       <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 p-3 text-center">
        <%= link_to image_tag('lifestyle.svg',class: 'explore_img', alt: ""), root_path, class: "underline_image" %>
        <p>Lifestyle</p>
       </div>
    </div>
</div>


