<div class="py-3">
  <% if @order.cancelled? %>
    <%#= render partial: '/orders/forms/order_cancel_approval_form' %>
  <% elsif @order.active? || @order.delivered? %>
    <% if current_user.sellers? && @order.package.service.user_id == current_user.id %>
      <% unless @order.delivered? %>
        <%= render partial: '/orders/forms/order_delivered_form' %>
      <% end %>
      <% if @order.revisions.pluck(:status).include?('pending') %>
        <label class="Checkbox-form text-center">
          <%= link_to "Deliver Again", revision_path(id: @order.revisions.last), method: :patch, class: "btn change-color" %>
        </label>
      <% end %>
    <% else %> 
      <% unless @order.completed? %>
        <%= render partial: '/orders/forms/order_complete_form' %>
      <% end %>
      <% if @order.delivered? && !@order.revisions.pluck(:status).include?("pending")%>
        <% if @order.unlimited? %>
          <label class="Checkbox-form" style="margin-top: 2%;margin-left: 0%; ">
            <%= link_to "REQUEST A REVISION ON YOUR  DELIVERY",revision_description_modal_path(@order),class: "btn change-color",remote: true %>
          </label>
        <% elsif @order.revisions.count <  @order.revision_no_integer %>
          <label class="Checkbox-form" style="margin-top: 2%;margin-left: 0%; ">
            <%= link_to "REQUEST A REVISION ON YOUR  DELIVERY",revision_description_modal_path(@order),class: "btn change-color",remote: true %>
          </label>
          <%#= render partial: '/orders/forms/revision_request_by_buyer' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>