<div class="row bootstrap snippets py-3 tab-pane active" id="chat-tab">
  <div class="col-md-12 col-md-offset-2 col-sm-12">
    <div class="comment-wrapper">
      <div class="panel panel-info">
        <div class="panel-body">
        	<div class="clearfix"></div>
          <ul class="media-list" id="my-comments">
    				<%= render partial: '/orders/reviews', locals: {reviews: @order.reviews.order(created_at: :asc)} %>
          </ul>
        </div>
          <% unless @order.completed? %>
            <% unless @order.inactive? %>
              <h6>Order DeadLine Date: <%= @order.ending_at.strftime("%d %B %Y") %></h6>
              <h6>Day Remaining:
                <% if @order.ending_at > DateTime.now %>
                  <%=  TimeDifference.between(DateTime.now,@order.ending_at).humanize %>
                <% else %>
                  0
                <% end %>
              </h6>
            <% end %>
            <%= simple_form_for @review,url: reviews_path, method: 'post',remote: true,:html => {:class => 'form-horizontal'} do |f| %>
              <%= f.error_notification %>  
              <%= f.input :comment,label: 'Comments', required: true,input_html: {rows: "3",:class => 'ckeditor'}  %>
              <%#= f.cktext_area(:comment, class: "form-control", as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini'}}, required: "required",placeholder: "Message #{@order.package.service.seller.full_name}") %>
              <div class="image-upload" style="position: absolute; margin-top: -9%; margin-left: 1%">
                <label for="file-input">
                  <i class="fa fa-paperclip"></i>
                </label>
                <%= f.input :attachment, as: :file,label: false,wrapper: false,input_html: {id: "file-input",class: ""} %>
              </div>
              <%= f.input :package_id,as: :hidden, :input_html => { :value => @order.package_id } %>
              <%= f.input :buyer_id,as: :hidden, :input_html => { :value => @order.order.user_id } %>
              <%= f.input :seller_id,as: :hidden, :input_html => { :value => @order.package.service.user_id } %>
              <%= f.input :type,as: :hidden, :input_html => { :value => current_user.buyers? ? "BuyerReview" : "SellerReview"} %>
              <%= f.input :order_item_id,as: :hidden, :input_html => { :value => @order.id } %>
              <div>
                <h6><%= @order.package.service.seller.full_name %> last seen <%= time_ago_in_words(@order.package.service.seller.last_sign_in_at) %> ago </h6> 
              </div>
              <% if current_user.sellers? && @order.package.service.user_id == current_user.id %>
                <% if !@order.revisions.blank? && @order.revisions.pluck(:status).include?('pending') %>
                  <button type="btn change-color" class="btn change-color pull-right" data-toggle="modal" data-target="#deilvery_again">Post</button>
                <% else %>
                  <%= f.submit "Post", class: "btn change-color pull-right", id: "post-reset" %>
                <% end %>
              <% else %>
                <%= f.submit "Post", class: "btn change-color pull-right", id: "post-reset" %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>
	</div>
</div>
<style type="text/css">
	/*body{margin-top:20px;}*/
	.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
  }
	.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
  }
	.comment-wrapper .media-list .media {
    /*border-bottom:1px dashed #efefef;*/
    margin:25px;
  }
  .image-upload > input{
    display: none;
  }
  .image-upload img{
    width: 80px;
    cursor: pointer;
  }
</style>
<script type="text/javascript">
  $('.ckeditor').ckeditor({
    // optional config
  });
  $('#new_review').submit(function(e){
    var text = $("#new_review iframe").contents().find("body").text();
    var file = $('#file-input').val()
    if(text == "" && file == ""){
      return false;
    }else{
      return true;
    }
  });

</script>