<div class="p-3 border border-light container-fluid tab-pane"  id="detail">
  <div class="py-3">
    <div class="review-header pt-3">
      <span class="h3">Order #<%= @order.id %></span>
      <span id="all-stars-22" class="pl-2"></span>
      <span class="pl-2 yellow">
        <%= link_to "View Service",service_path(@order.package.service) %> 
        <% if @order.completed? %>
          <span class="badge badge-info">completed</span>
        <% elsif @order.active? %>
          <span class="badge badge-success">active</span>
        <% elsif @order.delivered? %>
          <% if current_user.buyers? %>
            <span class="badge badge-info">delivery in</span>
          <% else %>
            <span class="badge badge-info">delivered</span>
          <% end %>
        <% elsif @order.revision? %>
          <%= link_to revision_path(@order.revisions.last) do %>
            <span class="badge badge-info">In Revision</span>
          <% end %>
        <% elsif @order.cancelled? %>
          <span class="badge badge-info">Cancelled</span>
        <% end %>
      </span>
      <span class="pl-2 pull-right h3">
        <% if current_user.currency == "USD" %>
          <%= number_to_currency(@order.price) %>
        <% else %>
          <%= number_to_currency((@order.price*current_user.currency_unit),:unit=>current_user.symbol) %>
        <% end %>
      </span>
      <div class="underline p-3"></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Qunatity</th>
            <th scope="col">Duration</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= @order.package.name %></th>
            <td><%= @order.quantity %></td>
            <td><%= @order.package.delivery_time %> Days</td>
            <td>
              <% if current_user.currency == "USD" %>
                <%= number_to_currency(@order.price) %>
              <% else %>
                <%= number_to_currency((@order.price*current_user.currency_unit),:unit=>current_user.symbol) %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>