<div class="p-3 border border-light container-fluid"  id="order-detail">
  <div class="py-3">
    <h6>Order Detail</h6>
    <hr>
    <div class="review-header pt-3">
      <span class="h3">Order #<%= @order.id %></span>
      <span id="all-stars-22" class="pl-2"></span>
      <span class="pl-2 yellow">
        <%= link_to "View Service",service_path(@order.package.service) %> 
        <% if @order.completed? %>
          <span class="badge badge-info">completed</span>
        <% elsif @order.active? %>
          <span class="badge badge-success">active</span>
        <% elsif @order.delivered? %>
          <span class="badge badge-info">delivered</span>
        <% elsif @order.cancelled? %>
          <span class="badge badge-info">Cancelled</span>
        <% end %>
      </span>
      <span class="pl-2 pull-right h3"><%= number_to_currency(@order.package.price) %></span>
      <p>
        <% if current_user.sellers? %>
          buyer: <%= link_to @order.order.user.full_name,profile_path(@order.order.user) %>
          <%= online_status @order.order.user %>
        <% else %>
          seller: <%= link_to @order.package.service.seller.full_name,profile_path(@order.package.service.seller) %>
          <%= online_status @order.package.service.seller %>
        <% end %>
      </p>
      <div class="underline p-3"></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Qunatity</th>
            <th scope="col">Duration</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= @order.package.name %></th>
            <td><%= @order.quantity %></td>
            <td><%= @order.package.delivery_time %> Days</td>
            <td><%= number_to_currency(@order.package.price) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>