<div class="msg_history" id="messages" data-conversation-id="<%= @conversation.id %>"></div>
<script type="text/javascript">
    var current_conversation_id = <%= @conversation.id %>;
    var current_user_id = <%= current_user.id %>;
    <% if current_user.sellers? %>
      var current_user_role = "seller";
    <% else %>
      var current_user_role = "buyer";
    <% end %> 
    var user_name = $("#user_name").val();
    var conversation_url = '<%= conversation_url(@conversation) %>';
    var chats_recipients = new Object();
    chats_recipients[<%= @conversation.seller_id %>] = {
      "name": "<%= (@conversation.seller_id == current_user.id) ? @conversation.sellers.full_name : @conversation.sellers.full_name %>",
      "image": "<%= image_path(@conversation.sellers.check_avatar.blank? ? 'avatar-placeholder-extra-small.png' : @conversation.sellers.check_avatar) %>"
    };
    chats_recipients[<%= @conversation.buyer_id %>] = {
      "name": "<%= (@conversation.buyer_id == current_user.id) ? @conversation.buyers.full_name : @conversation.buyers.full_name %>",
      "image": "<%= image_path(@conversation.buyers.check_avatar.blank? ? 'avatar-placeholder-extra-small.png' : @conversation.buyers.check_avatar) %>"
    };
</script>