<div class="border border-light text-center" style="margin-bottom: 10px;">
  <div class="box-tab justified">
    <ul class="nav nav-tabs navbar-light bg-light mr-auto nav nav-pills nav-justified">
      <li class="active nav-item">
        <a class="nav-link active" href="#basic" data-toggle="tab"><h6><strong>Custom Offer</strong></h6>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active in" id="basic">
        <div class="row py-2">
          <div class="col"><h5><strong>Custom Offer</strong></h5></div>
          <div class="col"><h5><strong><%= number_to_currency(@custom_offer.price) %></strong></h5></div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              <% if @custom_offer.by_seller? %>
                Offer Created by Seller: <%= link_to "#{@custom_offer.user.full_name}",profile_path(@custom_offer.user) %>
              <% elsif  @custom_offer.by_buyer? %>
                Offer Created by Buyer: <%= link_to "#{@custom_offer.user.full_name}",profile_path(@custom_offer.user) %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 
            <strong><%= pluralize(@custom_offer.delivery_time, 'Days') %> Delivery</strong>
          </div>
          <div class="col">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <strong><%= @custom_offer.revision_number %> Revision</strong>
          </div>
        </div>
        <% if current_user.sellers? && @custom_offer.by_buyer?  %>
          <% if @custom_offer.order_items.blank? %>
            <div class="row py-2 text-center">
              <div class="col">
                <% if @custom_offer.pending? %>
                  <%= link_to "Approve #{number_to_currency(@custom_offer.price)}",package_status_path(@custom_offer,'approved'), class: "btn change-color" %>
                  <%= link_to "Reject #{number_to_currency(@custom_offer.price)}",package_status_path(@custom_offer,'rejected'), class: "btn change-color" %>
                <% else %>
                  <% if @custom_offer.approved? %>
                    <button type="button" class="btn change-color">You have approved buyer custom offer</button>
                  <% else %>
                    <button type="button" class="btn change-color">You have rejected buyer custom offer</button>
                  <% end %> 
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="row py-2 text-center">
              <div class="col">
                <button type="button" class="btn change-color">Offer Approved</button>
              </div>
            </div>
          <% end %>
        <% elsif current_user.buyers? && @custom_offer.by_seller? %>
          <div class="row py-2 text-center">
            <div class="col">
              <%= link_to "Start at #{number_to_currency(@custom_offer.price)}",service_package_path(@service,@custom_offer), class: "btn change-color" %>
            </div>
          </div>
        <% else %>
          <% if current_user.buyers? && @custom_offer.by_buyer? %>
            <div class="row py-2 text-center">
              <div class="col">
                <% if @custom_offer.order_items.blank? %>
                  <% if @custom_offer.pending? %>
                    <button type="button" class="btn change-color">Offer Pending</button>
                  <% elsif @custom_offer.rejected? %>
                    <button type="button" class="btn change-color">Offer reject</button>
                  <% else %>
                    <%= link_to "Start at #{number_to_currency(@custom_offer.price)}",service_package_path(@service,@custom_offer), class: "btn change-color" %>
                  <% end %>
                <% else %>
                  <button type="button" class="btn change-color">Offer Approved</button>
                <% end %>
              </div>
            </div>
          <% elsif current_user.sellers? && @custom_offer.by_seller? %>
            <div class="row py-2 text-center">
              <div class="col">
                <% if @custom_offer.order_items.blank? %>
                  <button type="button" class="btn change-color">Offer Pending</button>
                <% else %>  
                  <button type="button" class="btn change-color">Offer Approved By <%= @custom_offer.order_items.last.order.user.full_name %></button>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
	</div>
</div>