<div class="border border-light text-center" style="margin-bottom: 10px;">
  <div class="box-tab justified">
    <ul class="nav nav-tabs navbar-light bg-light mr-auto nav nav-pills nav-justified">
      <li class="active nav-item">
        <a class="nav-link active" href="#basic" data-toggle="tab"><h6><strong>Custom Offer</strong></h6>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active in" id="basic">
        <div class="row py-2">
          <div class="col"><h5><strong>Custom Offer</strong></h5></div>
          <div class="col"><h5><strong><%= number_to_currency(@custom_offer.price) %></strong></h5></div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              <% if @custom_offer.by_seller? %>
                Offer Created by Seller: <%= link_to "#{@custom_offer.user.full_name}",profile_path(@custom_offer.user) %>
              <% elsif  @custom_offer.by_buyer? %>
                Offer Created by Buyer: <%= link_to "#{@custom_offer.user.full_name}",profile_path(@custom_offer.user) %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 
            <strong><%= pluralize(@custom_offer.delivery_time, 'Days') %> Delivery</strong>
          </div>
          <div class="col">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <strong><%= @custom_offer.revision_number %> Revision</strong>
          </div>
        </div>
        <div class="row py-2 text-center">
          <div class="col">
            <% if !@custom_offer.order_items.blank? %>
              <button class="btn change-color">Ordered</button>
            <% elsif @custom_offer.approved? && current_user.buyers? %>
              <%= link_to "Start at #{number_to_currency(@custom_offer.price)}",service_package_path(@service,@custom_offer), class: "btn change-color" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>