<div id="show-custom-form-modal">
  <div class="modal" tabindex="-1" role="dialog" id="custom-form-gig">
    <%= simple_form_for @service, url: custom_offer_create_path(@service),method: :post,remote: true do  |f|%>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Custom Offer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>I can <%= @service.title %></h4>
          <div class="card mb-3">
            <% unless @service.primary_photo.blank? %>
              <%= image_tag @service.primary_photo.image_url, class: "card-img-top" %>
            <% end %>
            <%= f.input :conversation_id, as: :hidden,:input_html => { :value => @conversation.id } %>
            <div class="card-body">
              <div class="form-group text required service_custom_packages_description">
                <label class="form-control-label text required" for="description">Description<abbr title="required">*</abbr>
                </label>
                <textarea  class="form-control text aria-required" rows="3" required="required" placeholder="Give some impressive description for your valuable service" minlength="50" name="description" id="description">
                </textarea>
                <small class="form-text text-muted">Minimum 50 words required</small>
              </div>
              <div class="form-group integer required service_custom_packages_delivery_time">
                <label class="form-control-label integer required" for="delivery_time">Delivery time <abbr title="required">*</abbr></label>
                <input class="form-control numeric integer required" required="required" aria-required="true" type="number" step="1" name="delivery_time" id="delivery_time" min="1">
              </div>
              <div class="custom_packages_price">
                <label class="form-control-label integer required" for="price">Price <abbr title="required">*</abbr></label>
                <input class="form-control numeric integer required" required="required" aria-required="true" type="number" step="1" name="price" id="price" min="5"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Submit Offer", class: "btn change-color" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<style type="text/css">
  .change-color{
    background-color: purple;
    color: white;
  }
  .change-color:hover{
    background-color: purple;
  }
  .change-color:active{
    background-color: purple;
  }
</style>