<%= simple_form_for @revision,url: revision_path(@revision), method: 'patch' do |f| %>
  <%= f.error_notification %>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12"> 
      	<%= f.hidden_field(:delivery,value: @delivery) %>
        <%= f.hidden_field(:price,value: @price) %>
        <%= f.input :description,required: true,label: 'Description', hint: 'Minimum 50 words required', placeholder: "Description", input_html: {rows: "3"},as: :text  %>
      </div>
    </div>
	   <div class="form-group row mb-0">
      <div class="col-sm-9 offset-sm-3">
        <%= f.submit "Submit", class: "btn btn-outline-success pull-right" %>
      </div>
    </div>
<% end %>