<%= simple_form_for @order_cancel,url: order_cancels_path, method: 'post' do |f| %>
    <%= f.input :order_item_id, as: :hidden,:input_html => { :value => @order.id } %>
    <%= f.input :user_id, as: :hidden,:input_html => { :value => current_user.id } %>
    <%= f.input :status, as: :hidden,:input_html => { :value => 'pending' } %>
    <%= f.input :level, as: :hidden,:input_html => { :value => 'seller_modify_order' } %>
    <%= f.input :reason, as: :hidden,:input_html => { :value => params[:reason] } %>
  <%= f.error_notification %>
	<% if current_user.sellers? %>
    <%= f.input :role, as: :hidden,:input_html => { :value => "seller" } %>
  <% else %>
    <%= f.input :role, as: :hidden,:input_html => { :value => "buyer" } %>
  <% end %>
	<%= f.simple_fields_for :package do |p| %>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12"> 
        <%= p.input :name, hint: 'Maximum 100 words', required: true, input_html: {maxlength: 100,value: @order.package.name} %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
      	<%= p.input :description,required: true,label: 'Reason',hint: 'Minimum 50 words required', placeholder: "Reason", input_html: {rows: "3",value: @order.package.description},as: :text  %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <%= p.input :delivery_time,collection: Package::BASIC_DELIVERY,selected: @order.package.delivery_time,required: true %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <%= p.input :price,collection: Package::BASIC_PRICE,selected: @order.package.price,required: true  %>
      </div>
    </div>
	<% end %>
  <div class="form-group row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.submit "Submit", class: "btn btn-outline-success pull-right" %>
    </div>
  </div>
<% end %>