<%= f.simple_fields_for :standard_package do |standard| %>
  <table class="table table-bordered">
    <tr>
      <td><%= standard.input :name, hint: 'Maximum 100 words', required: true, input_html: {maxlength: 100} %></td>
    </tr>
    <tr>
      <td><%= standard.input :description, hint: 'Maximum 100 words', required: true, input_html: {maxlength: 100} %></td>
    </tr>
    <tr>
      <td>  
        <%= standard.input :revision_number,label: 'Revisions',collection: Package::REVISION,required: true %>
      </td>
    </tr>
    <tr>
      <td><%= standard.input :delivery_time,label: 'Delivery Time in Days',collection: Package::EXTEND_DELIVERY,required: true,input_html: {maxlength: 100} %></td>
    </tr>
    <tr>
      <td><%= standard.number_field :price,required: true,class: "form-control" %></td>
    </tr>
  </table>
<% end %>