<div class="container">
  <div class="row bs-wizard" style="border-bottom:0;">
    <% if @service.new_record? %> 
      <div class="col-xs-3 bs-wizard-step active">
    <% elsif !@service.blank?%>
      <div class="col-xs-3 bs-wizard-step complete">
    <% else %>
      <div class="col-xs-3 bs-wizard-step disabled">
    <% end %>
      <div class="text-center bs-wizard-stepnum">Step 1</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <% unless @service.new_record? %>
        <%= link_to "",services_pricing_path(@service,'overview'), class: 'bs-wizard-dot' %>
      <% else %>
        <%= link_to "","#",class: 'bs-wizard-dot' %>
      <% end %>
      <div class="bs-wizard-info text-center">Overview</div>
    </div>

    <% if @service.packages.select{|p| p.id!=nil}.blank? %>
      <div class="col-xs-3 bs-wizard-step disabled">
    <% else %>
      <div class="col-xs-3 bs-wizard-step complete">
    <% end %>
      <div class="text-center bs-wizard-stepnum">Step 2</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <% unless @service.new_record? %>
        <%= link_to "", services_pricing_path(@service,'pricing'), class: 'bs-wizard-dot' %>
      <% else %>
        <%= link_to "","#",class: 'bs-wizard-dot' %>
      <% end %>
      <div class="bs-wizard-info text-center">Pricing</div>
    </div>

    <% if @service.description.blank? %>
      <div class="col-xs-3 bs-wizard-step disabled">
    <% else %>
      <div class="col-xs-3 bs-wizard-step complete">
    <% end %>
      <div class="text-center bs-wizard-stepnum">Step 3</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <% unless @service.new_record? %>
        <%= link_to "", services_pricing_path(@service,'description'), class: 'bs-wizard-dot' %>
      <% else %>
        <%= link_to "","#",class: 'bs-wizard-dot' %>
      <% end %>
      <div class="bs-wizard-info text-center">Description & FAQ</div>
    </div>

    <% if @service.requirements.blank? %>
      <div class="col-xs-3 bs-wizard-step disabled">
    <% else %>
      <div class="col-xs-3 bs-wizard-step complete">
    <% end %>
      <div class="text-center bs-wizard-stepnum">Step 4</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <% unless @service.new_record? %>
        <%= link_to "", services_pricing_path(@service,'requirement'), class: 'bs-wizard-dot' %>
      <% else %>
        <%= link_to "","#",class: 'bs-wizard-dot' %>
      <% end %>
      <div class="bs-wizard-info text-center">Requirments</div>
    </div>

    <% if @service.photos.select{|p| p.id!=nil}.blank? %>
      <div class="col-xs-3 bs-wizard-step disabled">
    <% else %>
      <div class="col-xs-3 bs-wizard-step complete">
    <% end %>
      <div class="text-center bs-wizard-stepnum">Step 5</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <% unless @service.new_record? %>
        <%= link_to "", services_pricing_path(@service,'gallery'), class: 'bs-wizard-dot' %>
      <% else %>
        <%= link_to "","#",class: 'bs-wizard-dot' %>
      <% end %>
      <div class="bs-wizard-info text-center">Gallery</div>
    </div>

    <% if @service.publish.blank? %>
      <div class="col-xs-3 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum">Step 6</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <%= link_to "","#",class: 'bs-wizard-dot' %>
        <div class="bs-wizard-info text-center">Publish</div>
      </div>
    <% end %>
  </div>
</div>
<style type="text/css">
  .bs-wizard > .bs-wizard-step {padding: 0; position: relative; width: 16%;}
</style>